@charset "UTF-8";



address, cite, dfn, em, i, optgroup, var {
    font-style: normal;
/*
    background-color: blue;
    background-color: turquoise \9;             for IE8
    *background-color: pink !important;         for ie7
    _background-color: orange;                  for ie6,ie5
*/
}

.login-out .fa-weibo, .login-out .fa-qq {
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    font-size: 18px;
    border-radius: 100%;
    border: 1px solid;
    vertical-align: -7px;
    transition: .3s all linear;
}

.login-out .fa-weibo:hover, .login-out .fa-qq:hover {
    text-decoration: none;
    background-color: #ff9d00;
    color: white;
    transition: .3s all linear;
}

.search-group .icon {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-style: inherit;
    color: #ff8a00;
    overflow: hidden;
}

.sales-filter li span {
    color: #ff9d00;
}

.search-group .search-date-logo {
    background-image: url("../images/icon/logo1.png");
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 4px 4px;
}

.search-group .search-date span, .search-group .search-date input {

    position: absolute;
    top: 0;
}

.search-group .search-date-logo span, .search-group .search-date-logo input {
    background: transparent;
    right: 0;
}
.search-date-logo input{
    text-align: right;
}
.search-date-m input{
    text-align: left;
}
.search-mod-place, .search-mod-m {
    position: absolute;
    top: 82px;
    left: 12px;
    background-color: #fff;
}

.search-mod-place .search-mod-hd {
    width: 300px;
    height: 30px;
    background-color: orangered;
}

.search-mod-place .tab {
    padding-left: 12px;
    padding-top: 5px;
}

.search-mod-place .tab li {
    display: inline-block;
}

.search-mod-place .tab a {
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
}

.search-mod-place a:hover {
    text-decoration: none;
}

.search-mod-place .tab a.on4 {
    background-color: orange;
}

.search-mod-place .search-mod-content {
    width: 280px;
    padding: 20px 10px;
}

.search-mod-place .search-cards {
    width: 280px;
}

.search-mod-place .item {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 0;
    line-height: 20px
}

.search-mod-place .item a, .search-mod-m .tab a {
    color: #545454;
    padding: 0 2px;
    display: inline-block;
}

.search-mod-place .item a:hover {
    background-color: orange;
    color: #fff;
}

.search-mod-m {
    width: 120px;
    line-height: 35px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    background-color: #fff;
    font-size: 14px;
    color: #444;
    left: 140px;
}

.search-mod-m .tab li {
    text-align: center;
}

.search-mod-m .tab a:hover {
    text-decoration: none;
    color: orange;
}

.crumb img {
    width: 30px;
}

.crumb strong.title, .crumb i {
    color: orange;
    vertical-align: -8px;
}

.crumb i {
    font-size: 1.5em;
    margin: 0 5px;
}

.selected {
    vertical-align: -2px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.icon-sakura {
    display: inline-block;
    margin: -1px 0 0 4px;
    width: 19px;
    height: 18px;
    background: url(http://css.mafengwo.net/images/mdd/new_img/icon-sakura.png) no-repeat;
    overflow: hidden;
    cursor: default;
    vertical-align: top;
    _position: relative;
    _left: 4px;
    -webkit-animation: spin 8s infinite linear;
    animation: spin 8s infinite linear;
}

.hotel-btns .btn-booking .icon-coupon {
    position: absolute;
    top: 0;
    right: -36px;
    margin: 0 0 0 4px;
    display: inline-block;
    width: 14px;
    height: 16px;
    background: url(http://css.mafengwo.net/images/hotel/coupon_icon.jpg);
    overflow: hidden;
}

.place-maps .area-detail dd {
    padding-left: 65px;
}

.sort-bar .col-date {
    position: relative;
}

.place-maps .area-filter.non-border {
    border-bottom: 0;
}

.place dd ul.restrictheight {
    max-height: 56px;
    _height: 56px;
    overflow: hidden;
}

.sort-bar .col-date dt b, .sort-bar .col-date dt span {
    cursor: pointer;
}

.sort-bar .col-date dt input {
    position: absolute;
    left: -1px;
    bottom: 0;
    z-index: -1;
    visibility: hidden;
}

.ui-datepicker {
    z-index: 120 !important;
}

.collect .hide {
    display: none !important;
}

.total-info {
    float: left;
    margin-right: 10px;
    line-height: 16px;
}

.total-info .count {
    font-size: 20px;
    color: #ff7000;
    margin: 0 5px;
}

.J_range_bar.ui-slider-horizontal {
    height: 3px;
    background-color: #dce0e0;
    border: 0;
}

.J_range_bar .ui-slider-range {
    background: #0a89e4;
}

.J_range_bar.ui-widget-content .ui-state-default {
    width: 30px;
    height: 30px;
    margin-left: -13px;
    display: block;
    border: 0;
    background: url(../images/icon/i_knob.png) no-repeat;
    position: absolute;
    top: -12px;
    z-index: 9;
    cursor: pointer;
    overflow: hidden;
}

.J_range_bar.ui-widget-content .ui-state-default:focus {
    outline: none;
}

.extend-bar .col-tags {
    padding-top: 0;
}

.col-drop .opt-big {
    font-size: 16px;
}

.h-tab .learn-more {
    float: right;
    margin: 10px 0 0 5px;
    position: relative;
    width: 17px;
    height: 17px;
    background: url(http://images.mafengwo.net/images/hotel/airbnb-icon.png) no-repeat -80px 0;
}

.h-tab .on .learn-more {
    background-position: -80px -25px;
}

.h-tab .learn-more:hover {
    text-decoration: none;
}

.h-tab .learn-more:hover span {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.h-tab .learn-more span {
    position: absolute;
    left: -175px;
    bottom: 27px;
    width: 345px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: #000 \9;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    border-radius: 3px;
    filter: alpha(opacity=80);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .3s ease-out 0s;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
}

.h-tab .learn-more span i {
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-top: 5px solid rgba(0, 0, 0, 0.8);
    border-top: 5px solid #000 \9;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    overflow: hidden;
    line-height: 0;
}

#pnl_mappop {
    background-color: #E5E3DF;
    width: 466px;
    margin: 0;
    position: absolute;
    height: 290px;
    display: none;
    z-index: 10;
    padding: 5px;
}

#btn_close_map {
    background: url("http://images.mafengwo.net/images/mdd/new_img/close_opa.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 17px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: -10000px;
    top: 10px;
    width: 17px;
    z-index: 30;
}

#pnl_mappop {
    padding: 15px
}

#btn_close_map {
    right: 0
}

.place-maps .info_word .toggle a {
    color: #0a89e4;
}

.place-maps .info_word .toggle i {
    background-position: -40px 0;
}

.place-maps .info_word .toggle .extend i {
    background-position: -50px 0;
}

.hided .toggle {
    margin-top: -20px
}

.all ._j_prefix {
    display: none
}

.place-maps {
    border-bottom: none;
}

.place-maps .dashed_line {
    border-bottom: 1px dashed #DBDBDB;
}

.filter-seled {
    line-height: 19px;
}

.h-progressbar {
    border: 0;
    height: 4px;
}

.h-progressbar .ui-progressbar-value {
    background: #8dca25;
    border: 0;
}

.FeedBackBtn {
    display: none !important;
}

/*=====================================================================================================================*/
@media (max-width: 1440px) {
    .search-mod-m {
        width: 110px;
        left: 144px;
    }

    .search-group .icon {
        top: 8px;
    }
}

@media (min-width: 1441px) {
    .search-mod-place{
        top: 98px;
        left: 18px;
    }
    .search-mod-m{
        top: 98px;
        left:161px;
    }
}