@charset "utf-8";
.orange {
	color: #ff7000;
}

.wrapper-bg {
	background-color: #f3f3f3
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
	padding: 15px 0
}

.wrapper a {
	color: #ff7200
}

.col-main {
	float: left;
	width: 775px
}

.col-side {
	float: right;
	width: 240px;
	background-color: #fff;
	overflow: hidden
}

.m-box {
	margin-bottom: 6px;
	padding: 0 13px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}

.m-crumb {
	padding: 0;
	background: 0;
	box-shadow: none;
	margin-bottom: 10px
}

.m-crumb .crumb {
	float: left;
	padding: 0;
	margin: 0
}

.m-crumb a {
	color: #666
}

.m-crumb a:hover {
	color: #ff7200
}

.m-crumb .crumb {
	float: left;
	padding: 0;
	margin: 0;
	line-height: 20px;
	height: 20px
}

.crumb .tit {
	float: left;
	color: #333
}

.crumb .item {
	float: left
}

.crumb .item a {
	color: #333
}

.crumb .item em {
	margin: 0 6px;
	color: #999;
	font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", '�S';
	font-style: normal
}

.crumb .drop {
	float: left
}

.crumb .drop .hd {
	height: 20px
}

.crumb .drop .hd a {
	display: block;
	height: 20px;
	_float: left;
	padding: 0 13px 0 5px
}

.crumb .drop .hd a:hover {
	text-decoration: none
}

.crumb .drop .hd i {
	position: absolute;
	margin: 7px 0 0 3px;
	*margin: 4px 0 0 3px;
	width: 0;
	height: 0;
	border-top: 3px solid #ff7000;
	border-left: 3px dashed transparent;
	border-right: 3px dashed transparent;
	overflow: hidden;
	font-size: 0
}

.crumb .drop .bd {
	position: absolute;
	display: none;
	margin: 5px 0 0 -10px;
	_margin: 20px 0 0 -70px;
	z-index: 10;
	width: 292px;
	padding: 10px 0 8px 7px;
	background-color: #fff;
	border: 1px solid #e5e5e5
}

.crumb .drop .bd .arrow {
	position: absolute;
	left: 20px;
	top: -6px;
	width: 0;
	height: 0;
	border-bottom: 6px solid #e5e5e5;
	border-left: 6px dashed transparent;
	border-right: 6px dashed transparent;
	font-size: 0
}

.crumb .drop .bd .arrow b {
	position: absolute;
	left: -6px;
	top: 2px;
	width: 0;
	height: 0;
	border-bottom: 6px solid #fff;
	border-left: 6px dashed transparent;
	border-right: 9px dashed transparent;
	font-size: 0;
	overflow: hidden
}

.crumb .drop .col {
	float: left;
	width: 145px
}

.crumb .drop h3 {
	padding-left: 7px;
	color: #333
}

.crumb .drop li {
	float: left;
	display: inline;
	width: 137px;
	margin: 4px 8px 0 0;
	height: 21px;
	line-height: 21px;
	overflow: hidden
}

.crumb .drop li a {
	display: block;
	height: 21px;
	padding: 0 7px;
	color: #333
}

.crumb .drop li a:hover {
	background-color: #fff1d7;
	color: #ff7000;
	text-decoration: none
}

.crumb .drop .more {
	clear: both;
	padding: 10px 20px 0 0;
	text-align: right
}

.crumb .drop .more a {
	color: #ff7000
}

.crumb .item.cur {
	color: #ff7000
}

.m-crumb .weather {
	float: right
}

.col-main .m-box {
	margin-bottom: 15px;
	padding-left: 16px;
	padding-right: 16px
}

.intro-title {
	padding: 15px 0
}

.intro-title dt {
	width: 540px;
	float: left;
	line-height: 20px
}

.intro-title .t {
	font-size: 24px;
	line-height: 30px;
	color: #333
}

.intro-title dt h1 {
	font-weight: normal
}

.intro-title .icon-box {
	margin-top: 5px
}

.intro-title dt .address {
	font-size: 12px;
	color: #999
}

.intro-title .address p {
	display: inline
}

.intro-title .a-maps {
	display: inline-block;
	margin-left: 5px;
	color: #0a89e4;
	vertical-align: middle
}

.intro-title .a-maps i {
	float: left;
	margin: 1px 3px 0 0;
	_margin-top: -1px;
	display: inline-block;
	width: 13px;
	height: 15px;
	background: url(../../images/icon/hotel-detail16.png) no-repeat -60px -40px;
	overflow: hidden;
	position: relative
}

.intro-title dd {
	float: right;
	font-size: 12px;
	text-align: right
}

.intro-title .h-score {
	height: 45px;
	text-align: right;
	font-size: 14px
}

.intro-title .h-score strong {
	font-weight: normal;
	font-size: 16px
}

.intro-title .h-score em {
	font-style: normal;
	font-size: 30px;
	color: #ff8a00;
	vertical-align: -1px
}

.intro-l {
	float: left;
	width: 213px;
	height: 447px;
	position: relative
}

.intro-l .intro {
	margin: 0 0 30px -29px;
	height: 130px;
	padding: 15px 10px 15px 20px;
	background-color: #4eadf2;
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
	line-height: 22px;
	position: relative;
	*zoom: 1
}

.intro-l .intro strong {
	display: block;
	margin-bottom: 4px;
	font-size: 18px;
	font-weight: normal;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)
}

.intro-l .intro .corner {
	position: absolute;
	left: 1px;
	bottom: -9px;
	width: 11px;
	height: 9px;
	background: url(../../images/icon/hotel-detail16.png) no-repeat -80px -60px;
	overflow: hidden;
	font-size: 0
}

.intro-l .i-comm dt {
	overflow: hidden;
	*zoom: 1
}

.intro-l .i-comm dt span {
	float: left;
	width: 48px;
	text-align: center;
	font-size: 14px;
	color: #903;
	line-height: 24px
}

.intro-l .i-comm dt span a {
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden
}

.intro-l .i-comm dt span a img {
	width: 48px;
	height: 48px
}

.intro-l .i-comm dt div {
	margin-left: 58px;
	color: #333
}

.intro-l .i-comm dt p {
	margin-bottom: 5px;
	color: #999
}

.intro-l .i-comm dt b {
	color: #333
}

.intro-l .i-comm dt em {
	margin-right: 5px;
	font-size: 18px;
	font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #ff7000
}

.intro-l .i-comm dd {
	margin-top: 10px;
	padding: 6px 0;
	height: 110px;
	line-height: 21px;
	background: url(../..//images/icon/quote.png) no-repeat;
	text-indent: 40px;
	color: #333
}

.intro-r {
	float: right;
	display: inline;
	margin-right: -16px;
	width: 535px
}

.intro-r .pic {
	position: relative;
	cursor: pointer;
	width: 535px;
	height: 402px;
	overflow: hidden
}

.intro-r .pic span {
	height: 52px;
	padding: 0 12px;
	position: absolute;
	left: 10px;
	top: 10px;
	display: block;
	line-height: 52px;
	font-size: 16px;
	color: #fff;
	background: #000;
	background: rgba(0, 0, 0, .69)
}

.intro-r .pic span strong {
	height: 52px;
	overflow: hidden;
	font-size: 48px;
	font-weight: normal;
	font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", Lithos Pro, Candara, "Times New Roman", Times, serif;
	padding-right: 5px;
	line-height: 40px;
	position: relative;
	bottom: -6px;
	_bottom: 3px
}

.m-details .facility {
	margin: 15px 35px 0;
	padding-top: 15px;
	border-top: 1px dashed #cecece;
	line-height: 20px
}

.m-details .facility ul {
	margin: 0 -80px 10px 0;
	padding: 0;
	border: 0
}

.m-details .facility h3 {
	font-weight: normal;
	font-size: 14px;
	line-height: 30px
}

.m-details .facility li {
	float: left;
	width: 24.5%;
	height: 32px;
	padding: 0;
	margin: 0
}

.m-details .facility li i {
	float: left;
	margin: 5px 5px 0 0;
	width: 11px;
	height: 9px;
	background: url(../../images/icon/hotel-detail16.png) no-repeat -75px -166px
}

.m-comment {
	padding-top: 12px
}

.rank-star {
	display: inline-block;
	width: 68px;
	height: 12px;
	background: url(../../images/icon/mdd_sprite.png) no-repeat -78px -42px;
	overflow: hidden
}

.rank-star span {
	display: inline-block;
	height: 12px;
	background: url(../../images/icon/mdd_sprite.png) no-repeat -78px -28px;
	overflow: hidden;
	vertical-align: top
}

.rank-star .star5 {
	width: 68px
}

.comment-hd {
	margin-bottom: 15px;
	height: 42px;
	border-bottom: 1px solid #eaeaea
}

.comment-hd .rev-tab {
	float: left;
	display: inline;
	margin-top: 4px;
	font-size: 14px;
	line-height: 36px
}

.comment-hd .rev-tab li {
	float: left;
	margin-right: 35px;
	display: inline
}

.comment-hd .rev-tab a {
	float: left;
	color: #333
}

.comment-hd .rev-tab a:hover {
	text-decoration: none;
	border-bottom: 3px solid #fee7bf
}

.comment-hd .rev-tab .on a {
	border-bottom: 3px solid #fa9f00;
	font-weight: bold
}

.comment-wrap {
	margin: 10px 0;
	*zoom: 1
}

.comment-item {
	margin: 25px 0 -1px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #cecece;
	min-height: 50px;
	_height: 50px;
	*zoom: 1
}

.comment-item:after {
	content: '';
	clear: both;
	display: table;
	overflow: hidden;
	height: 0
}

.comment-item .user-bar {
	float: left;
	width: 48px
}

.comment-item .user-avatar {
	display: block;
	width: 48px;
	height: 48px;
	position: relative
}

.comment-item .user-level {
	display: block;
	padding: 2px 0;
	text-align: center
}

.comment-item .user-level a {
	font-size: 11px;
	color: #903;
	font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", Verdana, Geneva, sans-serif;
	font-weight: bold
}

.source-post {
	margin: 0 0 0 10px;
	float: left
}

.source-post i {
	float: left;
	margin: 2px 5px 0 0;
	width: 15px;
	height: 16px;
	background: url(/images/mdd/detail_v2/poiV2-sprite3.png) no-repeat -82px -45px;
	overflow: hidden
}

.comment-info {
	margin-left: 68px
}

.comment-info .useful {
	float: right;
	margin-right: 12px;
	color: #9d9d9c;
	line-height: 22px
}

.comment-info .useful-btn {
	float: right;
	margin-left: 5px;
	height: 20px;
	width: 40px;
	background-color: #fff0c9;
	border: 1px solid #fee7aa;
	line-height: 20px;
	text-align: center;
	color: #666;
	border-radius: 1px
}

.comment-info .useful-btn:hover {
	text-decoration: none
}

.comment-info .info {
	margin: 8px 0
}

.comment-info .rank-star {
	margin: 0 0 0 10px;
	vertical-align: -2px;
	*vertical-align: middle
}

.comment-info .comment-time {
	margin-left: 10px
}

.comment-info .c-content {
	padding-right: 12px;
	line-height: 24px;
	color: #000;
	font-size: 14px
}

.comment-info .pic {
	margin: 5px 0
}

.add-reply {
	padding-right: 12px
}

.add-reply .ar-hd {
	margin: 5px 0 10px
}

.intro-title {
	padding-top: 20px
}

.intro-title {
	padding: 15px 0
}

.intro-title dt {
	*margin-bottom: 5px
}

.intro-title dt h1 {
	display: inline;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	color: #333
}

.comment-item {
	margin: 25px 0 -1px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #cecece;
	min-height: 50px;
	_height: 50px
}

.comment-item .user-bar {
	float: left;
	width: 48px
}

.comment-item .user-avatar {
	display: block;
	width: 48px;
	height: 48px
}

.comment-item .user-level {
	display: block;
	padding: 2px 0;
	text-align: center
}

.comment-item .user-level a {
	font-size: 11px;
	color: #903;
	font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", Verdana, Geneva, sans-serif;
	font-weight: bold
}

.intro-title {
	padding-top: 20px
}

@font-face {
	font-family: Airglyphs;
	src: url("/css/fonts/airbnb-font/airglyphs.eot") format("eot"), url("/css/fonts/airbnb-font/airglyphs.woff") format("woff"), url("/css/fonts/airbnb-font/airglyphs.ttf") format("truetype"), url("/css/fonts/airbnb-font/airglyphs.svg") format("svg");
	font-weight: normal;
	font-style: normal
}

.comment-hd .rev-tab {
	color: #333
}

.m-details {
	padding: 5px 5px 15px !important;
	color: #333
}

.m-details .desc {
	padding-top: 15px;
	margin: 0 35px;
	line-height: 24px;
	font-size: 14px
}

.m-details .desc h2 {
	margin-bottom: 5px;
	font-size: 16px
}

.m-details .maps {
	position: relative;
	overflow: hidden;
	z-index: 5
}

.m-details .maps .map_container {
	height: 360px
}

.m-details .maps .m-tag {
	position: absolute;
	right: 10px;
	top: 10px;
	max-width: 120px;
	height: 23px;
	padding: 0 15px;
	line-height: 22px;
	background-color: #fff;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	border: 3px solid #cdc9c1 \9;
	border-radius: 50px;
	color: #0a89e4;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	_width: 120px;
	_text-align: center
}

.m-details .maps .m-tag:hover {
	background-color: #0a89e4;
	color: #fff;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
	border-color: #fff
}

.m-details .info-row {
	border-top: 0;
	padding-top: 0;
	border-bottom: 1px dashed #cecece;
	padding-bottom: 15px;
	margin: 15px 35px 0
}

.m-details .col-ul {
	margin-right: -80px
}

.m-details .col-ul li {
	float: left;
	width: 24.5%
}

.m-details .info-date {
	font-size: 14px
}

.m-details .facility {
	padding-bottom: 0;
	border: 0
}

.m-details .info-other {
	font-size: 14px;
	margin-top: 15px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {}

.nav-tabs {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 50px;
	width: 100%;
	background-color: #4b4b4b;
	z-index: 90;
	border-bottom: 1px solid #595959;
	box-shadow: 0 2px 2px rgba(89, 89, 89, 0.75)
}

.nav-tabs ul {
	width: 1000px;
	margin: 0 auto;
	line-height: 50px
}

.nav-tabs li {
	float: left;
	display: inline-block;
	margin-right: 50px;
	font-size: 18px;
	color: #333;
	position: relative
}

.nav-tabs li a {
	color: #fff
}

.nav-tabs li a:hover {
	color: #ff7000;
	text-decoration: none
}

.nav-tabs .on .tab-line {
	position: absolute;
	left: -5px;
	right: -5px;
	bottom: 6px;
	border: 2px solid #ff9d00;
	border-radius: 2px;
	*overflow: hidden;
	height: 0
}

.nav-tabs .on .tab-line:before,
.nav-tabs .on .tab-line:after {
	content: '';
	position: absolute;
	border: 2px solid #ff9d00;
	border-radius: 2px;
	height: 0;
	width: 0;
	top: -2px
}

.nav-tabs .on .tab-line:before {
	left: -8px
}

.nav-tabs .on .tab-line:after {
	right: -8px
}

.booking-panel {
	width: 240px;
	margin-bottom: 10px
}

.booking-panel .book-date {
	height: 30px;
	padding: 10px 0 10px 10px;
	border: 1px solid #d7d7d7;
	background-color: #f5f5f5
}

.booking-panel .book-bd {
	padding: 10px;
	background-color: #fff;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	overflow: hidden;
	position: relative
}

.booking-panel .pro-bd {
	padding: 10px;
	*zoom: 1;
	position: relative
}

.booking-panel .pro-bd:after {
	content: '';
	clear: both;
	display: table;
	overflow: hidden
}

.booking-panel .pro-bd .pro-item,
.booking-panel .pro-bd .pro-name {
	border-bottom: 1px #ccc dashed;
	line-height: 40px;
	padding: 0 10px;
	font-size: 16px;
}

.booking-panel .pro-bd .pro-img {
	padding: 30px 0;
	margin: 0 auto;
	width: 150px;
	height: 150px;
	position: relative;
}

.booking-panel .pro-bd .pro-img:before {
	content: "";
	position: absolute;
	top: 30px;
	left: 0px;
	display: block;
	height: 140px;
	width: 140px;
	border: 5px rgba(255, 255, 255, .3) solid;
	border-radius: 100%;
}

.booking-panel .pro-img img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.booking-panel .pro-bd .pro-name {
	border-bottom: 0;
	text-align: center;
}

.booking-panel .pro-bd .pro-name span {
	display: inline-block;
	padding-right: 20px;
	font-weight: 700;
}

.booking-panel .pro-bd .pro-iphone {
	background-color: #FF8A00;
	height: 30px;
	line-height: 30px;
	width:190px;
	margin: 0 auto;
	text-align: center;
	padding-left: 10px;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
}
.booking-panel .pro-bd .fa-phone{
	float: left;
	margin: 6px 0 0 10px;
}
.booking-panel .pro-bd .pro-ask {
	display:block;
	border: 1px solid #FF8A00;
	height: 30px;
	line-height: 30px;
	width:200px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	color: #FF8A00;
	font-size: 14px;
	border-radius: 5px;
    text-decoration: none;
}
.booking-panel .pro-bd .pro-ask:hover{
    text-decoration: underline;
}
.maps-bar {
	float: right;
	display: inline;
	margin-left: 10px;
	margin-right: 5px;
	padding: 5px 0;
	width: 200px;
	height: 349px;
	font-size: 14px;
	line-height: 24px;
	color: #333;
	border-bottom: 1px dashed #cecece
}

.maps-bar li {
	margin-bottom: 24px
}

.maps-bar li:last-child {
	margin-bottom: 0
}

.maps-bar a {
	color: #0a89e4
}

.m-nearhotel {
	padding-top: 15px;
	padding-bottom: 12px
}

.m-nearhotel .hd {
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: normal;
	color: #333
}

.m-nearhotel .bd {
	overflow: hidden
}

.m-nearhotel ul {
	margin-right: -15px;
	*zoom: 1
}

.m-nearhotel li {
	float: left;
	width: 240px;
	display: inline;
	margin-right: 12px
}

.m-nearhotel a {
	display: block;
	position: relative;
	height: 150px;
	overflow: hidden;
	color: #fff
}

.m-nearhotel .name {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 7px 10px 5px;
	background-color: rgba(0, 0, 0, .3);
	line-height: 20px;
	overflow: hidden
}

.m-nearhotel .name strong {
	display: block;
	overflow: hidden;
	height: 20px;
	font-size: 16px;
	font-weight: normal
}

.m-nearhotel .num {
	margin-top: 8px;
	padding-left: 10px;
	line-height: 20px;
	color: #333
}

.m-nearhotel .num em {
	font-style: normal;
	font-size: 20px;
	color: #690;
	vertical-align: middle
}

@charset "UTF-8";
.map-mark {
	position: absolute;
	cursor: pointer;
	z-index: 30
}

.map-mark .m-icon {
	display: block;
	width: 10px;
	height: 10px;
	background: url(/images/hotel/hotel-maps-icon3.png) no-repeat 0 0
}

.map-mark.on .m-icon {
	width: 20px;
	height: 30px;
	background-size: 140px 220px
}

.map-mark:hover .m-icon:after {
	content: '';
	position: absolute;
	display: block;
	width: 3px;
	height: 3px;
	margin: 2px 0 0 2px;
	background: url(/images/hotel/hotel-maps-icon3.png) no-repeat -65px -15px;
	overflow: hidden;
	border-radius: 50%;
	overflow: hidden
}

.map-mark.on:hover {
	z-index: 50
}

.map-mark.on:hover .m-icon:after {
	display: none;
	visibility: hidden
}

.map-mark:hover {
	z-index: 31
}

.mark-scenic .m-icon {
	background-position: -50px 0
}

.mark-scenic.on .m-icon {
	background-position: -50px 0
}

.mark-scenic.on:hover .m-icon {
	background-position: -75px 0
}

.mark-metro .m-icon {
	background-position: -50px -180px
}

.mark-metro.on .m-icon {
	background-position: -50px -180px
}

.mark-metro.on:hover .m-icon {
	background-position: -75px -180px
}

.map-mark.mark-hotel {
	background: 0
}

.mark-hotel .m-icon {
	background-position: -50px -90px
}

.mark-hotel.on .m-icon {
	background-position: -50px -90px
}

.mark-hotel.on.focus .m-icon,
.mark-hotel.on:hover .m-icon {
	background-position: -75px -90px
}

@charset "utf-8";
.sales-toolbar {
	position: fixed;
	z-index: 200;
	right: 0;
	top: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	border-left: 5px solid #777981
}

.stbar-middle {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -75px;
	width: 40px
}

.stbar-nav {
	margin: 25px 0
}

.stbar-item {
	height: 35px;
	position: relative;
	margin-bottom: 1px
}

.stbar-item a {
	display: block;
	height: 35px;
	text-align: center;
	color: #fff;
	line-height: 35px;
	font-size: 14px;
	position: relative
}

.stbar-item .stbar-text {
	position: absolute;
	top: 0;
	left: 35px;
	width: 58px;
	height: 35px;
	padding: 0 10px;
	background-color: #777981;
	white-space: nowrap;
	-webkit-transition: left .2s ease-in-out .1s;
	transition: left .2s ease-in-out .1s;
	text-align: center
}

.stbar-coupon .stbar-text {
	width: 70px
}

.stbar-item .stbar-icon {
	display: block;
	width: 35px;
	height: 35px;
	padding-right: 5px;
	background: #777981 url(../../images/icon/sales-toolbar3.png) no-repeat;
	overflow: hidden;
	position: relative;
	z-index: 2;
	border-radius: 2px 0 0 2px;
	cursor: pointer
}

.stbar-order .stbar-icon {
	background-position: 0 -35px
}

.stbar-coupon .stbar-icon {
	background-position: 0 -70px
}

.stbar-item:hover a {
	background-color: #ff9d00;
	text-decoration: none
}

.stbar-item:hover .stbar-icon {
	background-color: #ff9d00;
	border-radius: 0
}

.stbar-item:hover .stbar-text {
	left: -73px;
	background-color: #ff9d00
}

.stbar-coupon:hover .stbar-text {
	left: -88px;
	background-color: #ff9d00
}