<!--公共的样式与JS-->
<!--这里方便查看才加上的。开发时可以删除这部分，放在公共模块-->

<!--<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/module/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/module/reset.css"/>
<link rel="stylesheet" type="text/css" href="../css/module/header.css"/>
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../js/layer/layer.js"></script>
<script type="text/javascript" src="../js/haolou.itattoo.js"></script>-->
<!--<script type="text/javascript" src="../js/M.protrotype.js"></script>-->

<!--公共的样式与JS-->


<link rel="stylesheet" href="../css/index/booking_detail-cleaned.css" />
<link href="../css/index/mfw-reviews-cleaned.css" rel="stylesheet" type="text/css">
<div class="wrapper-bg">
	<!--页面主体-->
	<div class="wrapper">
		<div class="m-box m-crumb clearfix">
			<!--页面导航提醒-->
			<div class="crumb">
				<span class="tit">您在这里：</span>

				<div class="item">
					<div class="drop">
						<span class="hd">
                            <a href="#" target="_blank">成都<i></i></a>
                        </span>

						<div class="bd" style="width:auto">
							<i class="arrow"><b></b></i>

							<div class="col">
								<h3>成都周边</h3>
								<ul class="clearfix">
									<li><a href="#" target="_blank">乐山</a></li>
								</ul>
							</div>
							<div class="more"><a href="#" target="_blank">
                                &gt;&gt;更多地区</a></div>
						</div>
					</div>
					<em>&gt;</em></div>
				<div class="item">
					<div class="drop">
						<span class="hd">
                            <a href="#" target="_blank">锦江区<i></i></a>
                        </span>

						<div class="bd" style="width:auto">
							<i class="arrow"><b></b></i>

							<div class="col">
								<h3>其他市区</h3>
								<ul class="clearfix">
									<li><a href="#" target="_blank">金牛区</a></li>
								</ul>
							</div>
							<div class="more"><a href="#" target="_blank">
                                &gt;&gt;更多区域</a></div>
						</div>
					</div>
					<em>&gt;</em></div>
				<div class="item"><a href="#" target="_blank">春熙路</a><em>
                    &gt;</em></div>
				<div class="item cur"><strong>IIS国际金融中心</strong></div>
			</div>
			<!--页面导航提醒-->
			<!-- weather s -->
			<div class="weather">
				<a href="##weather/10099.html" target="_blank" title="上海天气"><img src="../images/shop/wKgB3FCKEieAcuwtAAAFTc45tRk702.gif" width="20" height="20" align="absmiddle"> 多云 25℃~34℃ </a>
			</div>
			<!-- weather end -->
		</div>
		<!--详情部分开始-->
		<div class="col-main">
			<div class="m-box m-intro clearfix">
				<dl class="intro-title clearfix">
					<dt>
                    <div class="t">
                        <h1>IIS国际金融中心</h1>
                    </div>

                    <div class="address">
                        <p>地址：XXX黄浦路15号</p>
                        <a class="a-maps" id="_j_showmap" target="_blank"
                           href="#">
                            <i></i>查看地图
                        </a>
                    </div>
                    </dt>

					<dd>
						<div class="h-score">
							<strong>非常好</strong>
							<em>8.6</em>/10分
						</div>

						<div class="icon-box">评论来自：<span>haolou</span></div>
					</dd>
				</dl>

				<div class="intro-l">
					<div class="intro">
						<strong>阅读重点：</strong>中国第一家西商饭店，于1846年由礼查家族建造，地处外滩北端。巴洛克风格的外观至今仍保留着辉煌的建筑风格，设有设施先进的Spa和餐厅。<i class="corner"></i>
					</div>

					<dl class="i-comm">
						<dt>
                    <span>
                        <a target="_blank" href="##u/33796729.html" rel="nofollow">
                            <img src="../images/shop/wKgBpVUY8-iADGMlAABx669RuJo45.head.w48.jpeg">
                        </a>
                    </span>
                        <div>
                            <p><b><em>2518</em>条真实用户点评</b></p>

                            <p>来自 <a target="_blank" href="##u/33796729.html" rel="nofollow">
                                Mia-flower</a> 的最新评论
                            </p>
                        </div>
                        </dt>
						<dd>非常有历史和时代特色的饭馆，香港有一部电视剧是在这里拍的超级漂亮！</dd>
					</dl>
				</div>
				<div class="intro-r" id="_j_picwrap">
					<div id="main_pic" class="pic">
						<img style="width:535px;height:402px;" src="../images/shop/wKgB6lPHnPuAL8RPAARAEZW3w3098.rbook_comment.w535.jpeg" class="_j_albumtrigger" data-img_id="15580742" alt="上海浦江饭店图片">
						<span>
                          <strong title="185张上海浦江饭店图片">185</strong>张
                        </span>
					</div>
					<ul id="main_pic_min">
						<li>
							<a href="#" data-strong="193" data-title="193张上海啦啦啦图片">
								<img src="../images/shop/wKgB3FIMgFaAbVcQAAYKS4yvwMk20.rbook_comment.w200.jpeg" alt="" />
							</a>
						</li>
						<li>
							<a href="#" data-strong="195" data-title="195张上海啦啦啦图片">
								<img src="../images/shop/wKgB6lPHnPuAL8RPAARAEZW3w3098.rbook_comment.w535.jpeg" alt="" />
							</a>
						</li>
						<li>
							<a href="#" data-strong="198" data-title="198张上海啦啦啦图片">
								<img src="../images/shop/wKgB3FIMgFaAbVcQAAYKS4yvwMk20.rbook_comment.w200.jpeg" alt="" />
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="m-box m-details" id="J_details">
				<ul class="maps-bar">
					<li>【附近景点】
						<br><a href="##poi/4460.html" target="_blank" title="外滩历史纪念馆" data-id="4460">外滩历史纪念馆</a> 0.2km
						<br><a href="##poi/5268.html" target="_blank" title="上海人民英雄纪念塔" data-id="5268">上海人民英雄纪念塔</a> 0.2km
						<br><a href="##poi/4565.html" target="_blank" title="外白渡桥" data-id="4565">外白渡桥</a> 0.2km
						<br><a href="##poi/4979.html" target="_blank" title="黄浦公园" data-id="4979">黄浦公园</a> 0.3km
						<br><a href="##poi/5504076.html" target="_blank" title="外滩" data-id="5504076">外滩</a> 0.4km
						<br><a href="##poi/4952.html" target="_blank" title="外滩万国建筑博览群" data-id="4952">外滩万国建筑博览群</a> 0.7km
						<br><a href="##poi/3848176.html" target="_blank" title="上海基督教景灵堂" data-id="3848176">上海基督教景灵堂</a> 0.7km
						<br><a href="##poi/4497.html" target="_blank" title="外滩观光隧道" data-id="4497">外滩观光隧道</a> 0.8km
						<br><a href="##poi/26321.html" target="_blank" title="上海大自然野生昆虫馆" data-id="26321">上海大自然野生昆虫馆</a> 0.8km
					</li>
					<li>【附近交通】
						<br><a href="##poi/7379760.html" target="_blank" title="黄浦江轮渡中心" data-id="7379760">黄浦江轮渡中心</a> 500m
					</li>
				</ul>

				<!--地图部分开始-->
				<div class="maps" id="J_map">
					<div class="map_container" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
						<div class="gm-style gm-china" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
							<div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(http://maps.gstatic.cn/mapfiles/openhand_8_8.cur) 8 8, default;">
								<div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 21, -203);">

									<div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
										<div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
											<div style="transform: translateZ(0px); position: absolute; left: 336px; top: 223px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: 336px; top: -33px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(1)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: -176px; top: 223px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(2)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: -176px; top: -33px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(3)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: 80px; top: -33px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(4)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: 80px; top: 223px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(5)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: 592px; top: -33px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(6)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: 592px; top: 223px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(7)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: 336px; top: 479px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(8)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: -176px; top: 479px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(9)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: 80px; top: 479px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(10)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
											<div style="transform: translateZ(0px); position: absolute; left: 592px; top: 479px; transition: opacity 200ms ease-out;">
												<img src="../images/shop/vt(11)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
											</div>
										</div>
									</div>
								</div>

							</div>
							<div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
								<a target="_blank" href="http://maps.google.cn/maps?ll=31.229206,121.489003&amp;z=14&amp;t=m&amp;hl=zh-CN&amp;gl=CN&amp;mapclient=apiv3" title="点击以在 Google 地图上查看此区域" style="position: static; overflow: visible; float: none; display: inline;">
									<div style="width: 66px; height: 26px; cursor: pointer;"><img src="../images/shop/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
									</div>
								</a>
							</div>

							<div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 172px; bottom: 0px; width: 227px;">
								<div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px;">
									<div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
										<div style="width: 1px;"></div>
										<div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div>
									</div>
									<div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
										<a style="color: rgb(68, 68, 68); text-decoration-line: none; cursor: pointer; display: none;">地图数据</a><span>地图数据 ©2015 GS(2011)6020 Google</span>
									</div>
								</div>
							</div>

							<div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; -webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;">
								<div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
									<div style="width: 1px;"></div>
									<div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div>
								</div>
								<div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
									<a href="http://www.google.cn/intl/zh-CN_CN/help/terms_maps.html" target="_blank" style="text-decoration-line: none; cursor: pointer; color: rgb(68, 68, 68);">使用条款</a>
								</div>
							</div>

							<div class="gmnoprint" draggable="false" controlwidth="28" controlheight="55" style="margin: 10px; -webkit-user-select: none; position: absolute; top: 0px; left: 0px;">
								<div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 0px;">
									<div draggable="false" style="-webkit-user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; width: 28px; height: 55px; background-color: rgb(255, 255, 255);">
										<div title="放大" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;">
											<div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;">
												<img src="../images/shop/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 120px; height: 54px;">
											</div>
										</div>
										<div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; top: 0px; background-color: rgb(230, 230, 230);"></div>
										<div title="缩小" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;">
											<div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;">
												<img src="../images/shop/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 120px; height: 54px;">
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; bottom: 14px; right: 0px;">
								<div class="gm-style-mtc" style="float: left;">
									<div draggable="false" title="显示街道地图" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 24px; font-weight: 500; background-color: rgb(255, 255, 255); background-clip: padding-box;">
										地图
									</div>
								</div>
								<div class="gm-style-mtc" style="float: left;">
									<div draggable="false" title="显示卫星图像" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-left-width: 0px; min-width: 48px; background-color: rgb(255, 255, 255); background-clip: padding-box;">
										卫星图像
									</div>
									<div style="z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; right: 0px; top: 32px; text-align: left; display: none; background-color: white;"></div>
								</div>
							</div>
							<div draggable="false" class="gm-style-cc" style="position: absolute; -webkit-user-select: none; height: 14px; line-height: 14px; right: 60px; bottom: 0px;">
								<div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
									<div style="width: 1px;"></div>
									<div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div>
								</div>
								<div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
									<span>500 米&nbsp;</span>

									<div style="position: relative; display: inline-block; height: 8px; bottom: -1px; width: 61px;">
										<div style="width: 100%; height: 4px; position: absolute; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"></div>
										<div style="width: 4px; height: 8px; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"></div>
										<div style="width: 4px; height: 8px; position: absolute; left: 0px; bottom: 0px; background-color: rgb(255, 255, 255);"></div>
										<div style="position: absolute; height: 2px; left: 1px; bottom: 1px; right: 1px; background-color: rgb(102, 102, 102);"></div>
										<div style="position: absolute; width: 2px; height: 6px; left: 1px; top: 1px; background-color: rgb(102, 102, 102);"></div>
										<div style="width: 2px; height: 6px; position: absolute; bottom: 1px; right: 1px; background-color: rgb(102, 102, 102);"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a class="m-tag map_input area_name" href="##hotel/list_map.php?ht=5330" target="_blank">进入酒店地图</a>
				</div>
				<!--地图部分结束-->

				<div class="desc clearfix">
					<h2>上海浦江饭店攻略</h2>

					<div>
						【必读】
						<br/>--原名礼查饭店，始建于1846年，是中国第一家西商饭店。
						<br/>--地理位置优越，位于苏州河和黄浦江交汇处，地处外滩北端。
						<br/>--距离外白渡桥有2分钟步行路程，距离外滩历史纪念馆和黄浦公园有3分钟步行路程。
						<br/>--距离南京东路商业区有14分钟步行路程，距离浦东国际机场有40分钟车程。
						<br>
						<br/>【贴士】
						<br>--巴洛克风格的建筑，整体建筑风格保存完好，住进去就像回到了解放前的老上海。
						<br>--所有客房都提供免费无线网络连接。提供免费停车场。
						<br>
						<br>【交通】
						<br>19、61、317路吴淞路天潼路，33、37、135、330、868、921、934路白渡桥站。
					</div>
				</div>
			</div>
			<!--楼盘详情图片开始-->
			<div class="m-box m-comment">
				<p style="background-color: #F7F7F7;padding: 5px">
					<span style="font-size: 24px;color: #000000">办公司简介</span>
					<span>房源编号：CD435768</span>
				</p>

				<div class="imgbox" style="margin-top: 15px">
					<img src="../images/shop/wKgBpVUc8WeAdkFFAAEODWRMBMg71.jpeg" alt="" />
					<img src="../images/shop/wKgBpVUc8WeAdkFFAAEODWRMBMg71.jpeg" alt="" />
					<img src="../images/shop/wKgBpVUc8WeAdkFFAAEODWRMBMg71.jpeg" alt="" />
				</div>
			</div>
			<!--楼盘详情图片结束-->
			<!--评论开始-->
			<div class="m-box m-comment" id="J_comment" data-cs-t="分页点击分布">

				<div class="comment-hd simsun" id="comment_header">
					<div class="rev-tab">
						<ul>
							<li data-type="type" data-value="0" class="on"><a>全部点评
                                <span data-type="total">2518</span>条</a></li>
						</ul>
					</div>
				</div>

				<div class="comment-wrap" id="J_comment_list">
					<div id="comment_area" class="">
						<div class="comment-item" id="comment_no_18802444">
							<div class="user-bar">
								<span class="user-avatar">
                                         <a href="##u/5013332.html" target="_blank" rel="nofollow">
                                             <img src="../images/shop/wKgBpU5xk7yu--7BAAAPG9cGY-U50.head.w48.jpeg"
                                                  onerror="this.src=&#39;http://images.mafengwo.net/images/pp48.gif&#39;">
                                         </a>
                                    </span>
								<span class="user-level"><a href="javascript:;">LV.19</a></span>
							</div>

							<div class="comment-info" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
								<span class="useful" data-id="18802444" data-username="">
                                       <a class="useful-btn" href="javascript:"><i></i>有用</a>
                                       <span class="useful-num">0</span>
								</span>

								<div class="info"><a class="user-name" href="##u/5013332.html" target="_blank" rel="nofollow">有梦的二毛</a>
									<span class="rank-star">
                                             <span itemprop="reviewRating" itemscope=""
                                                   itemtype="http://schema.org/Rating">
                                                 <span class="star5"></span>
									<meta itemprop="ratingValue" content="5">
									<meta itemprop="bastRating" content="5">
									</span>
									</span>
									<span class="comment-time">2014-11-28 14:55:57</span>
								</div>
								<div class="c-content">
									<p itemprop="reviewBody">其实来上海是为了住住浦江饭店。上海没有什么吸引我的，独独这个浦江饭店，让我放不下。 虽然现如今现代化酒店多如牛毛，我还是钟情于它。
									</p>

									<div class="pic">
										<span><a href="javascript:" class="album_photo" data-id="22257213"><img
                                                src="../images/shop/wKgB6lR4F_CAW4SGAAuRk3DdWWc25.rbook_comment.w200.jpeg"
                                                class="_j_albumtrigger" data-img_id="22257213" width="186" height="118"
                                                alt="上海浦江饭店/"></a></span>
										<span><a href="javascript:" class="album_photo" data-id="22257212"><img
                                                src="../images/shop/wKgB6lR4GAyAf4x1AAoGOUw9De802.rbook_comment.w200.jpeg"
                                                class="_j_albumtrigger" data-img_id="22257212" width="186" height="118"
                                                alt="上海浦江饭店/"></a></span>
										<span><a href="javascript:" class="album_photo" data-id="22257211"><img
                                                src="../images/shop/wKgB6lR4GCCARkiKAAv-PkSH6zk30.rbook_comment.w200.jpeg"
                                                class="_j_albumtrigger" data-img_id="22257211" width="186" height="118"
                                                alt="上海浦江饭店/"></a></span>
									</div>
								</div>

								<div class="add-reply">

									<div class="ar-hd clearfix">
										<div class="source-post">
											<i></i>此条点评来自游记<a href="##i/3249439.html" target="_blank">《普陀祈福之旅》</a>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="paginator" align="right">
							<span class="this-page" rel="nofollow">1</span>
							<a class="ti" href="xxx.html" data-value="2" data-type="pagenum" rel="nofollow">2</a>
							<a class="ti" href="xxx.html" data-value="3" data-type="pagenum" rel="nofollow">3</a>
							<a class="ti" href="xxx.html" data-value="4" data-type="pagenum" rel="nofollow">4</a>....<a class="ti" href="xxx.html" data-value="51" data-type="pagenum" rel="nofollow">51</a>
							<a href="xxx.html" data-value="2" data-type="pagenum" rel="nofollow">后一页</a>
						</div>
					</div>
					<div id="J_comment_form" class="comment_form-wrap">
						<div class="mfw-reviews">
							<div id="_j_commentform_cnt">
								<h2>
                                    <strong>上海浦江饭店</strong>
                                    <em>*</em>为必填选项
                                </h2>

								<form action="##" method="post" class="_j_commentdialogform" data-typeid="2">
									<input type="hidden" name="act" value="updateComment">
									<input type="hidden" name="commentid" value="">
									<input type="hidden" name="poiid" value="5330">
									<input type="hidden" name="source" value="3">

									<div class="review-item item-star">
										<div class="label"><em>*</em>总体评价</div>
										<div class="review-star _j_rankblock" data-star="" name="rank">
											<input type="hidden" name="rank" value="" essential="1" data-inputname="总体评价">
											<span class="star _j_starcount"></span>

											<div class="click-star _j_starlist">
												<a role="button" title="千万别去" rel="nofollow"></a>
												<a role="button" title="不推荐" rel="nofollow"></a>
												<a role="button" title="一般般" rel="nofollow"></a>
												<a role="button" title="值得一去" rel="nofollow"></a>
												<a role="button" title="必须推荐" rel="nofollow"></a>
											</div>

										</div>
										<span class="txt-tips _j_startip">点击星星打分</span>
									</div>
									<div class="review-item item-rating">
										<div class="label"><em>*</em>服务</div>
										<div class="review-score _j_rankblock" data-star="" name="service_rank">
											<input type="hidden" name="service_rank" value="" essential="1" data-inputname="给服务的评分">
											<span class="star _j_starcount"></span>

											<div class="click-star _j_starlist">
												<a role="button" title="特别差" rel="nofollow"></a>
												<a role="button" title="不太好" rel="nofollow"></a>
												<a role="button" title="一般般" rel="nofollow"></a>
												<a role="button" title="很棒" rel="nofollow"></a>
												<a role="button" title="超出预期" rel="nofollow"></a>
											</div>

										</div>
										<span class="txt-tips _j_startip">给服务打分</span>
									</div>
									<div class="review-item item-rating">
										<div class="label"><em>*</em>性价比</div>
										<div class="review-score _j_rankblock" data-star="" name="fair_rank">
											<input type="hidden" name="fair_rank" value="" essential="1" data-inputname="给性价比的评分">
											<span class="star _j_starcount"></span>

											<div class="click-star _j_starlist">
												<a role="button" title="特别差" rel="nofollow"></a>
												<a role="button" title="不太好" rel="nofollow"></a>
												<a role="button" title="一般般" rel="nofollow"></a>
												<a role="button" title="很棒" rel="nofollow"></a>
												<a role="button" title="超出预期" rel="nofollow"></a>
											</div>

										</div>
										<span class="txt-tips _j_startip">给性价比打分</span>
									</div>
									<div class="review-item item-rating">
										<div class="label"><em>*</em>卫生</div>
										<div class="review-score _j_rankblock" data-star="" name="clean_rank">
											<input type="hidden" name="clean_rank" value="" essential="1" data-inputname="给卫生的评分">
											<span class="star _j_starcount"></span>

											<div class="click-star _j_starlist">
												<a role="button" title="特别差" rel="nofollow"></a>
												<a role="button" title="不太好" rel="nofollow"></a>
												<a role="button" title="一般般" rel="nofollow"></a>
												<a role="button" title="很棒" rel="nofollow"></a>
												<a role="button" title="超出预期" rel="nofollow"></a>
											</div>

										</div>
										<span class="txt-tips _j_startip">给卫生打分</span>
									</div>
									<div class="review-item item-comment">
										<div class="label"><em>*</em>评价</div>
										<div class="content">
											<textarea class="_j_commentarea" name="comment" essential="1" data-inputname="点评内容" placeholder="详细、客观、真实，130字以上为佳！上传图片会加分哦！" data-minlen="15" data-maxlen="1000"></textarea>

											<p class="_j_commentcounttip">15-1000个字</p>
										</div>
									</div>

									<div class="review-item item-photo">
										<div class="label">上传照片</div>
										<div class="content">
											<dl class="upload-box _j_piclist">
												<dd data-commentid="" id="_j_addpicbtns" ids="0" style="position: relative;">
													<a class="add-place"><i></i></a>
												</dd>
											</dl>
										</div>
									</div>
									<div class="review-item item-action">
										<a class="btn-large _j_submit" role="button">提交点评</a>
									</div>
								</form>
							</div>
						</div>

						<script>
							M.closure(function(require) {
								var Comment = require('/js/common/Comment');
								M.Event.once('comment prepared', function(args) {
									var commentIns = new Comment({
										container: '#_j_commentform_cnt'
									});
								});
								// 是否直接初始化
								M.Event.fire('comment prepared');
							});
						</script>

						<div class="mfw-reviews have-reviews hide">
							<h2>
                                <strong>上海浦江饭店</strong>
                            </h2>

							<div class="review-item item-star">
								<div class="label">你已评价为</div>
								<div class="review-star">
									<span class="star"></span>
								</div>
								<a class="edit-reviews" href="javascript:;" data-comment-id=""><i></i>我要修改</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--评论结束-->
			<div class="m-box m-details" id="J_info">
				<div class="info-row info-date">
					<ul class="col-ul clearfix">
						<li>开发商：<span>XX有限公司</span></li>
					</ul>
				</div>
				<div class="info-row info-other">
					<ul class="col-ul clearfix">
						<li>物业公司：<span>高力国际</span></li>
						<li>物业费：<span>100元/月</span></li>
					</ul>
				</div>
				<div class="info-row info-other">
					<ul class="col-ul clearfix">
						<li>楼盘类型：<span>写字楼</span></li>
						<li>级别：<span>甲级</span></li>
						<li>开盘时间：<span>2014-12-31</span></li>
					</ul>
				</div>
				<div class="info-row facility">
					<h3>配套设施</h3>
					<ul class="clearfix">
						<li><i class="icon-ok"></i>建筑面积：<span>123123平米</span></li>
						<li><i class="icon-ok"></i>总层数：<span>22层</span></li>
						<li><i class="icon-ok"></i>标准层面积：<span>23423平米</span></li>
						<li><i class="icon-ok"></i>净高：<span>3.6米</span></li>
						<li><i class="icon-ok"></i>空调：<span>中央空调</span></li>
						<li><i class="icon-ok"></i>客梯：<span>8部</span></li>
						<li><i class="icon-ok"></i>货梯：<span>2部</span></li>
						<li><i class="icon-ok"></i>电梯品牌：<span>XXX</span></li>
						<li><i class="icon-ok"></i>地上车位：<span>XXX</span></li>
						<li><i class="icon-ok"></i>地下车位：<span>XXX</span></li>
						<li><i class="icon-ok"></i>车位月租金：<span>XXX</span></li>
						<li><i class="icon-ok"></i>网络：<span>XXX</span></li>
						<li><i class="icon-ok"></i>便利设施：<span>XXX</span></li>
					</ul>
				</div>
				<!--楼盘推荐开始-->
				<div class="m-box m-nearhotel" id="J_surrounding_hotels">
					<h3 class="hd">附近有相同面积的房源</h3>

					<div class="bd">
						<ul class="clearifx">
							<li>
								<a href="##hotel/44189.html" target="_blank" data-cs-p="附近有空房的酒店_new"><img src="../images/shop/wKgB6lPHscqAELYEAAJmOBGIrv438.rbook_comment.w305.jpeg" width="240" height="150">

									<div class="name"><strong>上海新协通国际大酒店</strong></div>
								</a>

								<div class="num"><em>3564</em>个评价</div>
							</li>
							<li>
								<a href="##hotel/46961.html" target="_blank" data-cs-p="附近有空房的酒店_new"><img src="../images/shop/wKgB6lPIkXWAYVjQAA5A8ZSbek496.rbook_comment.w305.jpeg" width="240" height="150">

									<div class="name"><strong>莫泰168(上海外滩店)</strong></div>
								</a>

								<div class="num"><em>3088</em>个评价</div>
							</li>
							<li style="margin-right: 0">
								<a href="##hotel/23945.html" target="_blank" data-cs-p="附近有空房的酒店_new"><img src="../images/shop/wKgB6lPIkXWAYVjQAA5A8ZSbek496.rbook_comment.w305.jpeg" width="240" height="150">

									<div class="name"><strong>莫泰268(上海外滩店)</strong></div>
								</a>

								<div class="num"><em>2980</em>个评价</div>
							</li>
						</ul>
					</div>
				</div>
				<!--楼盘推荐开始-->
			</div>
			<div class="clearfix"></div>
		</div>
		<!--详情部分结束-->
		<!--联系商家开始-->
		<div class="col-side">
			<div class="side-sticky" id="J_side_sticky" data-cs-t="xxx">
				<div class="booking-panel">
					<div class="book-date" style="background-color: #FF7800;color: white;vertical-align: bottom;font-size: 16px;">
						<span class="J_price" style="font-size: 30px">¥110</span>
						<em style="text-decoration: line-through;">¥123</em>
						<span style="float: right;margin: 10px 5px 0 0">平米/月</span>
					</div>
					<div class="pro-bd">
						<div class="pro-item">总租金：<span class="orange">7700元/月</span></div>
						<div class="pro-item">物业费：<span>7元/平米·月</span></div>
						<div class="pro-item">建筑面积：<span>560平米</span>(m<sup>2</sup>)</div>
						<div class="pro-img"><img src="../images/lhl.jpg" alt="#" /></div>
						<div class="pro-name"><span class="orange">苏甄</span><small>选址顾问</small></div>
						<div class="pro-iphone"><i class="fa fa-phone"></i>134-1234-5677</div>
						<a class="pro-ask" style="cursor: pointer" onclick="ask()">询问最低价</a>
					</div>
				</div>
			</div>
		</div>
		<!--联系商家结束-->
	</div>
	<!--页面主体-->

	<!--页面小功能开始-->
	<div class="sales-toolbar" id="J_part_side_bar">
		<div class="stbar-middle">
			<div class="stbar-nav">
				<div class="stbar-item stbar-order">
					<a href="##hotel/order.php" target="_blank">
						<i class="stbar-icon"></i><span class="stbar-text">订单</span>
					</a>
				</div>
				<div class="stbar-item stbar-coupon">
					<a href="##sales/coupon.php" target="_blank">
						<i class="stbar-icon"></i><span class="stbar-text">优惠券</span>
					</a>
				</div>
				<div class="stbar-item stbar-collect">
					<a href="##hotel/fav/index" target="_blank">
						<i class="stbar-icon"></i><span class="stbar-text">收藏</span>
					</a>
				</div>
			</div>

		</div>
	</div>
	<!--页面小功能结束-->
</div>
<script async="" src="../js/bower/common.js"></script>
<!--点击小图片换大图-->
<script type="text/javascript">
	$("#main_pic_min").find("a").click(function() {
		var strong = $(this).attr("data-strong");
		var title = $(this).attr("data-title");
		var src = $(this).find("img").attr("src");
		$("#main_pic").find("img").attr("src", src);
		$("#main_pic").find("strong").attr("title", title);
		$("#main_pic").find("strong").text(strong);
	});
</script>
<!--为了方便查看单独的这个页面，加载下面CSS->
<!--<link rel="stylesheet" href="../css/home.css" />-->

<!--下面为了方便查看用户登录后页面加的如下JS，开发时可以删除-->
<script type="text/javascript">
    $(".login-out").hide();
    $(".login-info").show();
</script>