<!--公共的样式与JS-->
<!--这里方便查看才加上的。开发时可以删除这部分，放在公共模块-->
<!--<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/module/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/module/reset.css"/>
<link rel="stylesheet" type="text/css" href="../css/module/header.css"/>
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../js/layer/layer.js"></script>
<script type="text/javascript" src="../js/haolou.itattoo.js"></script>
<script type="text/javascript" src="../js/M.protrotype.js"></script>-->
<!--公共的样式与JS-->

<link rel="stylesheet" href="../css/index/home-main-mfw-focus.css" />
<link rel="stylesheet" href="../css/index/home-main-container.css" />
<div class="mfw-focus">
	<div class="show-slider" id="_j_top_pic_container">
		<ul class="show-image">
			<li class="first" style="display: block;">
				<a href="http://www.mafengwo.cn/i/5322242.html" target="_blank" class="show-pic">
					<img src="../images/wKgBs1Y4liuAF9flAAfUigVYQ8Q94.jpeg"></a>
				<a href="http://www.mafengwo.cn/i/5322242.html" target="_blank" class="show-title dark">
					<div class="date">
						<span class="day">5</span> /Nov.2015
					</div>
					<h3>5：荒凉的戈壁</h3>
				</a>

				<p class="show-info">
					图片来自于 <font color="#FF9900"><a href="#" target="_blank">IFS二期</a></font> ，此目的地共找到了 <font color="#FF9900"><a href="#" target="_blank" rel="nofollow">555</a></font> 套待售房源。本片由
					<font color="#FF9900">
                        <a href="#" target="_blank">好楼团队</a>
                    </font> 荣誉出品！
				</p>
			</li>
			<li style="display: none;">
				<a href="#" target="_blank" class="show-pic">
					<img src="../images/wKgBs1Y4WhGAe4p9AAeeMc9WMlE98.jpeg"></a>
				<a href="#" target="_blank" class="show-title dark">
					<div class="date">
						<span class="day">4</span> /Nov.2015
					</div>
					<h3>4：焉知旅途——新加坡</h3>
				</a>

				<p class="show-info">
					图片来自于
					<font color="#FF9900">
                        <a href="#" target="_blank">IFS二期</a>
                    </font> ，此目的地共找到了
					<font color="#FF9900">
                        <a href="#" target="_blank" rel="nofollow">444</a>
                    </font> 套待售房源。本片由
					<font color="#FF9900">
                        <a href="#" target="_blank">好楼团队</a>
                    </font> 荣誉出品！
				</p>
			</li>
			<li style="display: none;">
				<a href="#" target="_blank" class="show-pic">
					<img src="../images/wKgBs1Y4WhGAe4p9AAeeMc9WMlE98.jpeg"></a>
				<a href="#" target="_blank" class="show-title dark">
					<div class="date">
						<span class="day">3</span> /Nov.2015
					</div>
					<h3>3：焉知旅途——新加坡</h3>
				</a>

				<p class="show-info">
					图片来自于
					<font color="#FF9900">
                        <a href="#" target="_blank">IFS二期</a>
                    </font> ，此目的地共找到了
					<font color="#FF9900">
                        <a href="#" target="_blank" rel="nofollow">333</a>
                    </font> 套待售房源。本片由
					<font color="#FF9900">
                        <a href="#" target="_blank">好楼团队</a>
                    </font> 荣誉出品！
				</p>
			</li>
			<li style="display: none;">
				<a href="#" target="_blank" class="show-pic">
					<img src="../images/wKgBs1Y4WhGAe4p9AAeeMc9WMlE98.jpeg"></a>
				<a href="#" target="_blank" class="show-title dark">
					<div class="date">
						<span class="day">2</span> /Nov.2015
					</div>
					<h3>2：焉知旅途——新加坡</h3>
				</a>

				<p class="show-info">
					图片来自于
					<font color="#FF9900">
                        <a href="#" target="_blank">IFS二期</a>
                    </font> ，此目的地共找到了
					<font color="#FF9900">
                        <a href="#" target="_blank" rel="nofollow">222</a>
                    </font> 套待售房源。本片由
					<font color="#FF9900">
                        <a href="#" target="_blank">好楼团队</a>
                    </font> 荣誉出品！
				</p>
			</li>
			<li style="display: none;">
				<a href="#" target="_blank" class="show-pic">
					<img src="../images/wKgBs1Y4WhGAe4p9AAeeMc9WMlE98.jpeg"></a>
				<a href="#" target="_blank" class="show-title dark">
					<div class="date">
						<span class="day">1</span> /Nov.2015
					</div>
					<h3>1：焉知旅途——新加坡</h3>
				</a>

				<p class="show-info">
					图片来自于
					<font color="#FF9900">
                        <a href="#" target="_blank">IFS二期</a>
                    </font> ，此目的地共找到了
					<font color="#FF9900">
                        <a href="#" target="_blank" rel="nofollow">111</a>
                    </font> 套待售房源。本片由
					<font color="#FF9900">
                        <a href="#" target="_blank">好楼团队</a>
                    </font> 荣誉出品！
				</p>
			</li>
		</ul>
		<ul class="show-nav">
			<li class="active">
				<a href="javascript:">
					<img src="../images/wKgBs1Y4lieAUR_7AANIqFyJpTs64.index.w108.jpeg" height="62" width="110">
					<span></span>
				</a>
			</li>
			<li class="">
				<a href="javascript:">
					<img src="../images/wKgBs1Y4Wg2AWUaIAADKFLWwiUU24.index.w108.jpeg" height="62" width="110">
					<span></span>
				</a>
			</li>
			<li class="">
				<a href="javascript:">
					<img src="../images/wKgBs1Y4Wg2AWUaIAADKFLWwiUU24.index.w108.jpeg" height="62" width="110">
					<span></span>
				</a>
			</li>
			<li class="">
				<a href="javascript:">
					<img src="../images/wKgBs1Y4Wg2AWUaIAADKFLWwiUU24.index.w108.jpeg" height="62" width="110">
					<span></span>
				</a>
			</li>
			<li class="">
				<a href="javascript:">
					<img src="../images/wKgBs1Y4Wg2AWUaIAADKFLWwiUU24.index.w108.jpeg" height="62" width="110">
					<span></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="search-container" id="_j_index_search">
		<div class="search-group">
			<div class="searchtab" id="_j_index_search_tab">
				<ul class="clearfix">
					<li class="tab-selected" data-index="0"><i></i> 写字楼
					</li>
					<li data-index="1"><i></i> 共享办公
					</li>
					<li data-index="2">
						<i></i> 新盘
					</li>
					<li data-index="3">
						<i></i> 二手
					</li>
				</ul>
			</div>
			<!-- 1 begin -->
			<div class="searchbar searchbar-hotel" id="_j_index_search_bar_all">
				<div class="search-wrapper">
					<!--商圈部分-->
					<div class="search-date search-date-logo" id="_j_check_out">
						<input type="text" readonly="readonly" id="dp1446735218932" class="hasDatepicker" value="">
						<span>世纪城</span>
						<!--<i class="icon">￥</i>
                    -->
					</div>
					<div class="search-mod-place hide" data-tab-wrapper="1" data-indexb="4">
						<div class="search-mod-hd">
							<ul class="tab">
								<li>
									<a class="on4" href="javascript:void(0);" data-i="0">热门</a>
								</li>
								<li>
									<a href="javascript:void(0);" data-i="1">武侯</a>
								</li>
								<li>
									<a href="javascript:void(0);" data-i="2">锦江</a>
								</li>
								<li>
									<a href="javascript:void(0);" data-i="3">高新</a>
								</li>
								<li>
									<a href="javascript:void(0);" data-i="4">青羊</a>
								</li>
								<li>
									<a href="javascript:void(0);" data-i="5">成华</a>
								</li>
								<li>
									<a href="javascript:void(0);" data-i="6">金牛</a>
								</li>
							</ul>
						</div>

						<div class="search-mod-content">
							<ul class="search-cards clearfix" data-p="0">
								<li class="item">
									<a href="#">南延线</a>
								</li>
								<li class="item">
									<a href="#">世纪城</a>
								</li>
								<li class="item">
									<a href="#">东大街</a>
								</li>
								<li class="item">
									<a href="#">金融城</a>
								</li>
								<li class="item">
									<a href="#">科华北路</a>
								</li>
								<li class="item">
									<a href="#">磨子桥</a>
								</li>
								<li class="item">
									<a href="#">春熙路</a>
								</li>
								<li class="item">
									<a href="#">桐梓林</a>
								</li>
								<li class="item">
									<a href="#">顺城街</a>
								</li>
								<li class="item">
									<a href="#">红牌楼</a>
								</li>
								<li class="item">
									<a href="#">外双楠</a>
								</li>
								<li class="item">
									<a href="#">盐市口</a>
								</li>
								<li class="item">
									<a href="#">建设路</a>
								</li>
								<li class="item">
									<a href="#">金沙</a>
								</li>
							</ul>
							<ul class="sales-cards clearfix hide" data-p="1">1</ul>
							<ul class="sales-cards clearfix hide" data-p="2">2</ul>
							<ul class="sales-cards clearfix hide" data-p="3">3</ul>
							<ul class="sales-cards clearfix hide" data-p="4">4</ul>
							<ul class="sales-cards clearfix hide" data-p="5">5</ul>
							<ul class="sales-cards clearfix hide" data-p="6">6</ul>
						</div>
					</div>
					<!--商圈部分-->
					<!--面积部分-->
					<div class="search-date search-date-m" id="_j_check_in">
						<input type="text" readonly="readonly" id="dp1446735218931" class="hasDatepicker" value="">
						<span>100以下</span>
						<i class="icon">M <sup>2</sup></i>
					</div>
					<div class="search-mod-m hide">
						<ul class="tab">
							<li>
								<a href="#" data-i="0">100以下</a>
							</li>
							<li>
								<a href="#" data-i="1">100-200</a>
							</li>
							<li>
								<a href="#" data-i="2">200-300</a>
							</li>
							<li>
								<a href="#" data-i="3">300-400</a>
							</li>
							<li>
								<a href="#" data-i="4">400-500</a>
							</li>
						</ul>
					</div>
					<!--面积部分-->
					<form action="#" method="get">
						<div class="search-input">
							<input name="sKeyWord" type="text" placeholder="请输入商圈、面积、楼盘名称" id="_j_index_suggest_input_hotel" autocomplete="off" value="">
						</div>
					</form>
				</div>
				<div class="search-button" id="_j_index_suggest_btn_hotel">
					<a role="button" href="javascript:">
						<i class="icon-search"></i>
					</a>
				</div>
			</div>
			<!-- 1 end -->
			<!-- 2 begin -->
			<div class="searchbar hide" id="_j_index_search_bar_hotel">
				<form action="http://#/s.php" method="get">
					<div class="search-wrapper">
						<div class="search-input">
							<input name="q" type="text" placeholder="搜共享办公" id="_j_index_suggest_input_all" value="" autocomplete="off">
						</div>
					</div>
					<div class="search-button" id="_j_index_suggest_btn_all">
						<a role="button" href="javascript:">
							<i class="icon-search"></i>
						</a>
					</div>
				</form>
			</div>
			<!-- 2 end -->
			<!-- 3 begin -->
			<div class="searchbar hide" id="_j_index_search_bar_mdd">
				<form action="http://#/s.php" method="get">
					<div class="search-wrapper">
						<div class="search-input">
							<input name="q" type="text" placeholder="我要去...新楼盘" id="_j_index_suggest_input_mdd" value="" autocomplete="off">
						</div>
					</div>
					<div class="search-button" id="_j_index_suggest_btn_mdd">
						<a role="button" href="javascript:">
							<i class="icon-search"></i>
						</a>
					</div>
				</form>
			</div>
			<!-- 3 end -->
			<!-- 4 begin -->
			<div class="searchbar hide" id="_j_index_search_bar_sales">
				<div class="search-wrapper">
					<div class="search-input">
						<input type="text" placeholder="搜二手..房源" id="_j_index_suggest_input_sales" value="" autocomplete="off">
					</div>
				</div>
				<div class="search-button" id="_j_index_suggest_btn_sales">
					<a role="button" href="javascript:">
						<i class="icon-search"></i>
					</a>
				</div>
			</div>
			<!-- 4 end -->
		</div>
	</div>
</div>
<div class="container">
	<div class="mod-promo" data-change="mod">
		<div class="mod-hd">
			<a href="#" target="_blank">
				<h2 style="color: #f6682f">爆款热卖</h2>
			</a>

			<h2>
                <span>今日主打仁恒置地广场！</span>
            </h2>
			<a data-change="btn" class="more" href="javascript:void(0);" target="_blank"> <i></i> 换一换
			</a>
		</div>
		<div class="mod-bd">
			<ul class="sales-cards clearfix" data-change-step="3">
				<li class="item" data-change="list">
					<a href="#" target="_blank">
						<div class="image">
							<img src="../images/shop/wKgBs1Y7HJGALp8MAACD2NRx0iw23.jpeg" height="134" width="238">
							<span class="discount"> <b>3.7</b>
                                折 <i></i>
                            </span>
						</div>
						<div class="caption">
							<h3 title="【2999欧洲】北京往返米兰/巴黎含税机票">【2999欧洲】北京往返米兰/巴黎含税机票</h3>
							<span class="price"> <b>￥2999</b>
                            </span>
							<span class="price-original">¥8000</span>
						</div>
					</a>
				</li>
				<li class="item" data-change="list">
					<a href="#" target="_blank">
						<div class="image">
							<img src="../images/shop/wKgBs1Y7HJGALp8MAACD2NRx0iw23.jpeg" height="134" width="238">
							<span class="discount">
                                <b>3.7</b>
                                折
                                <i></i>
                            </span>
						</div>
						<div class="caption">
							<h3 title="【2999欧洲】北京往返米兰/巴黎含税机票">【2999欧洲】北京往返米兰/巴黎含税机票</h3>
							<span class="price">
                                <b>￥2999</b>
                            </span>
							<span class="price-original">¥8000</span>
						</div>
					</a>
				</li>
				<li class="item" data-change="list">
					<a href="#" target="_blank">
						<div class="image">
							<img src="../images/shop/wKgBs1Y7HJGALp8MAACD2NRx0iw23.jpeg" height="134" width="238">
							<span class="discount">
                                <b>3.7</b>
                                折
                                <i></i>
                            </span>
						</div>
						<div class="caption">
							<h3 title="【2999欧洲】北京往返米兰/巴黎含税机票">【2999欧洲】北京往返米兰/巴黎含税机票</h3>
							<span class="price">
                                <b>￥2999</b>
                            </span>
							<span class="price-original">¥8000</span>
						</div>
					</a>
				</li>
				<li class="item" data-change="list">
					<a href="#" target="_blank">
						<div class="image">
							<img src="../images/shop/wKgBs1Y7HJGALp8MAACD2NRx0iw23.jpeg" height="134" width="238">
							<span class="discount">
                                <b>3.7</b>
                                折
                                <i></i>
                            </span>
						</div>
						<div class="caption">
							<h3 title="【2999欧洲】北京往返米兰/巴黎含税机票">【2999欧洲】北京往返米兰/巴黎含税机票</h3>
							<span class="price">
                                <b>￥2999</b>
                            </span>
							<span class="price-original">¥8000</span>
						</div>
					</a>
				</li>
				<li class="item" style="display: none;" data-change="list">a1</li>
				<li class="item" style="display: none;" data-change="list">a2</li>
				<li class="item" style="display: none;" data-change="list">a3</li>
				<li class="item" style="display: none;" data-change="list">a4</li>
				<li class="item" style="display: none;" data-change="list">b1</li>
				<li class="item" style="display: none;" data-change="list">b2</li>
				<li class="item" style="display: none;" data-change="list">b3</li>
				<li class="item" style="display: none;" data-change="list">b4</li>
			</ul>
		</div>
	</div>

	<div class="mod-promo" data-change="mod">
		<div class="mod-hd">
			<a href="#" target="_blank">
				<h2 style="color: #ff9d00">限时优惠</h2>
			</a>

			<h2>
                <span>今日主打仁恒置地广场！</span>
            </h2>
			<a data-change="btn" class="more" href="javascript:void(0);" target="_blank">
				<i></i> 换一换
			</a>
		</div>
		<div class="mod-bd">
			<ul class="sales-cards clearfix" data-change-step="3">
				<li class="item" data-change="list">
					<a href="#" target="_blank">
						<div class="image">
							<img src="../images/shop/wKgBpVYxjEGAUyI1ABBo3X-ZPGo388.png" height="134" width="238">
							<span class="discount">
                                <b>2.9</b>
                                折
                                <i></i>
                            </span>
						</div>
						<div class="caption">
							<h3 title="【含元旦假期】北京直飞法兰克福+慕尼黑13天往返机票">【含元旦假期】北京直飞法兰克福+慕尼黑13天往返机票</h3>
							<span class="price">
                                <b>￥1999</b>
                                起
                            </span>
							<span class="price-original">¥6999</span>
						</div>
					</a>
				</li>
				<li class="item" data-change="list">
					<a href="#" target="_blank">
						<div class="image">
							<img src="../images/shop/wKgBpVVuzF6ANva4AAEpXm_KACQ49.jpeg" height="134" width="238">
							<span class="discount">
                                <b>4.6</b>
                                折
                                <i></i>
                            </span>
						</div>
						<div class="caption">
							<h3 title="【单机票尾单】香港/上海直飞毛里求斯8天5晚含税单机票（2999元/人）">【单机票尾单】香港/上海直飞毛里求斯8天5晚含税单机票（2999元/人）</h3>
							<span class="price">
                                <b>￥2999</b>
                                起
                            </span>
							<span class="price-original">¥6500</span>
						</div>
					</a>
				</li>
				<li class="item" data-change="list">
					<a href="#" target="_blank">
						<div class="image">
							<img src="../images/shop/wKgBpVY3OnSAVmGQAAOeFBn3zbc95.jpeg" height="134" width="238">
							<span class="discount">
                                <b>4.9</b>
                                折
                                <i></i>
                            </span>
						</div>
						<div class="caption">
							<h3 title="【国内9大城市免费联运】北京直飞欧洲多国往返7-21天自由行(含首晚酒店+赠申根保险)">
                                【国内9大城市免费联运】北京直飞欧洲多国往返7-21天自由行(含首晚酒店+赠申根保险)</h3>
							<span class="price">
                                <b>￥5399</b>
                                起
                            </span>
							<span class="price-original">¥10999</span>
						</div>
					</a>
				</li>
				<li class="item" data-change="list">
					<a href="#" target="_blank">
						<div class="image">
							<img src="../images/shop/wKgBpVYm9zGAI3bCAACYMM9QPbE54.jpeg" height="134" width="238">
							<span class="discount">
                                <b>2.8</b>
                                折
                                <i></i>
                            </span>
						</div>
						<div class="caption">
							<h3 title="【全国多地出发】直飞清迈4-6天机票/自由行【赠每人电话卡一份】">【全国多地出发】直飞清迈4-6天机票/自由行【赠每人电话卡一份】</h3>
							<span class="price">
                                <b>￥1200</b>
                                起
                            </span>
							<span class="price-original">¥4299</span>
						</div>
					</a>
				</li>
				<li class="item" style="display: none;" data-change="list">c1</li>
				<li class="item" style="display: none;" data-change="list">c2</li>
				<li class="item" style="display: none;" data-change="list">c3</li>
				<li class="item" style="display: none;" data-change="list">c4</li>
				<li class="item" style="display: none;" data-change="list">E1</li>
				<li class="item" style="display: none;" data-change="list">E2</li>
				<li class="item" style="display: none;" data-change="list">E3</li>
				<li class="item" style="display: none;" data-change="list">E4</li>
			</ul>
		</div>
	</div>

	<style>
		.place-around .tab .on1 {
			background-color: #985eb4;
			color: #FFFFFF;
		}
	</style>
	<div class="mod-place place-around" data-tab-wrapper="1" data-indexb="1">
		<div class="mod-hd">
			<h2 style="color: #985eb4;">写字楼</h2>
			<ul class="tab">
				<li>
					<a class="on1" href="javascript:void(0);" data-i="0">超甲级</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="1">甲级</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="2">乙级</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="3">丙级</a>
				</li>
			</ul>
		</div>
		<div class="mod-bd clearfix">
			<div class="nav-hot">
				<h3>热门商圈</h3>

				<div class="nav-hot-list">
					<ul>
						<li>
							<a target="_blank" href="#">人民南路</a>
						</li>
						<li>
							<a target="_blank" href="#">春熙路</a>
						</li>
						<li>
							<a target="_blank" href="#">磨子桥</a>
						</li>
						<li>
							<a target="_blank" href="#">红牌楼</a>
						</li>
						<li>
							<a target="_blank" href="#">航空路</a>
						</li>
						<li>
							<a target="_blank" href="#">桐梓林</a>
						</li>
						<li>
							<a target="_blank" href="#">高升桥</a>
						</li>
						<li>
							<a target="_blank" href="#">内双楠</a>
						</li>
						<li>
							<a target="_blank" href="#">武侯祠</a>
						</li>
					</ul>
				</div>
				<div class="bg" style="background:  url(../images/nav-hot-inset1.png) no-repeat;"></div>
			</div>
			<div class="mod-content">
				<ul class="sales-cards clearfix" data-p="0">
					<li class="item" data-change="list">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgB6lT20WWAEiFfACCvaykGFKg91.jpeg" height="151" width="266">
								<span class="discount">
                                    <b>3.7</b>
                                    折
                                    <i></i>
                                </span>
							</div>
							<div class="caption">
								<h3 title="【2999欧洲】北京往返米兰/巴黎含税机票">【2999欧洲】北京往返米兰/巴黎含税机票</h3>
								<span class="price">
                                    <b>￥2999</b>
                                </span>
								<span class="price-original">¥8000</span>
							</div>
						</a>
					</li>
					<li class="item" data-change="list">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgB6lT20WWAEiFfACCvaykGFKg91.jpeg" height="151" width="266">
								<span class="discount">
                                    <b>3.7</b>
                                    折
                                    <i></i>
                                </span>
							</div>
							<div class="caption">
								<h3 title="【2999欧洲】北京往返米兰/巴黎含税机票">【2999欧洲】北京往返米兰/巴黎含税机票</h3>
								<span class="price">
                                    <b>￥2999</b>
                                </span>
								<span class="price-original">¥8000</span>
							</div>
						</a>
					</li>
					<li class="item" data-change="list">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgB6lT20WWAEiFfACCvaykGFKg91.jpeg" height="151" width="266">
								<span class="discount">
                                    <b>3.7</b>
                                    折
                                    <i></i>
                                </span>
							</div>
							<div class="caption">
								<h3 title="【2999欧洲】北京往返米兰/巴黎含税机票">【2999欧洲】北京往返米兰/巴黎含税机票</h3>
								<span class="price">
                                    <b>￥2999</b>
                                </span>
								<span class="price-original">¥8000</span>
							</div>
						</a>
					</li>
					<li class="item" data-change="list">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgB6lT20WWAEiFfACCvaykGFKg91.jpeg" height="151" width="266">
								<span class="discount">
                                    <b>3.7</b>
                                    折
                                    <i></i>
                                </span>
							</div>
							<div class="caption">
								<h3 title="【2999欧洲】北京往返米兰/巴黎含税机票">【2999欧洲】北京往返米兰/巴黎含税机票</h3>
								<span class="price">
                                    <b>￥2999</b>
                                </span>
								<span class="price-original">¥8000</span>
							</div>
						</a>
					</li>
					<li class="item" data-change="list">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgB6lT20WWAEiFfACCvaykGFKg91.jpeg" height="151" width="266">
								<span class="discount">
                                    <b>3.7</b>
                                    折
                                    <i></i>
                                </span>
							</div>
							<div class="caption">
								<h3 title="【2999欧洲】北京往返米兰/巴黎含税机票">【2999欧洲】北京往返米兰/巴黎含税机票</h3>
								<span class="price">
                                    <b>￥2999</b>
                                </span>
								<span class="price-original">¥8000</span>
							</div>
						</a>
					</li>
					<li class="item" data-change="list">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgB6lT20WWAEiFfACCvaykGFKg91.jpeg" height="151" width="266">
								<span class="discount">
                                    <b>3.7</b>
                                    折
                                    <i></i>
                                </span>
							</div>
							<div class="caption">
								<h3 title="【2999欧洲】北京往返米兰/巴黎含税机票">【2999欧洲】北京往返米兰/巴黎含税机票</h3>
								<span class="price">
                                    <b>￥2999</b>
                                </span>
								<span class="price-original">¥8000</span>
							</div>
						</a>
					</li>
				</ul>

				<ul class="sales-cards clearfix hide" data-p="1">1</ul>
				<ul class="sales-cards clearfix hide" data-p="2">2</ul>
				<ul class="sales-cards clearfix hide" data-p="3">3</ul>
			</div>
		</div>
	</div>

	<style>
		.place-around .tab .on2 {
			background-color: #2A79FB;
			color: #FFFFFF;
		}
	</style>
	<div class="mod-place place-around" data-tab-wrapper="1" data-indexb="2">
		<div class="mod-hd">
			<h2 style="color: #2A79FB;">商住楼</h2>
			<ul class="tab">
				<li>
					<a class="on2" href="javascript:void(0);" data-i="0">武侯</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="1">高新</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="2">锦江</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="3">青羊</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="4">成华</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="5">金牛</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="6">高新西区</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="7">周边</a>
				</li>
			</ul>
		</div>
		<div class="mod-bd clearfix">
			<div class="nav-hot">
				<h3>热门商圈</h3>

				<div class="nav-hot-list">
					<ul>
						<li>
							<a target="_blank" href="#">人民南路</a>
						</li>
						<li>
							<a target="_blank" href="#">春熙路</a>
						</li>
						<li>
							<a target="_blank" href="#">磨子桥</a>
						</li>
						<li>
							<a target="_blank" href="#">红牌楼</a>
						</li>
						<li>
							<a target="_blank" href="#">航空路</a>
						</li>
						<li>
							<a target="_blank" href="#">桐梓林</a>
						</li>
						<li>
							<a target="_blank" href="#">高升桥</a>
						</li>
						<li>
							<a target="_blank" href="#">内双楠</a>
						</li>
						<li>
							<a target="_blank" href="#">武侯祠</a>
						</li>
					</ul>
				</div>
				<div class="bg" style="background:  url(../images/nav-hot-inset2.png) no-repeat;"></div>
			</div>
			<div class="mod-content">
				<ul class="sales-cards clearfix" data-p="0">
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVX5OpGAMliBAAEM6fzxns407.jpeg" height="151" width="266">
								<span class="deal-mark dm4">
                                    <i></i>
                                    限时
                                    <span>4.5</span> 折 <em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="【特价甩位】北京（天津）直飞芽庄4天3晚/5天4晚/6天5晚超值自由行（往返含税机票+四星级酒店+接送机）酒店可升级">
                                    【特价甩位】北京（天津）直飞芽庄4天3晚/5天4晚/6天5晚超值自由行（往返含税机票+四星级酒店+接送机）酒店可升级</h3>
								<span class="price">
                                    <b>￥2680</b>
                                    起
                                </span>
								<span class="price-original">¥5999</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVW5wWSAYzd9AAK3QJj35dM99.jpeg" height="151" width="266">
								<span class="deal-mark dm4">
                                    <i></i>
                                    限时
                                    <span>3.3</span> 折 <em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="【可配全国联运】四地直飞毛里求斯7~9天自由行 超值蜜月套餐/可双酒店搭配/尊享趣旅网专属接机柜台/赠接送机/电话卡（含少量上网流量/2人赠送1张）+当地旅游地图+旅游意外险">
                                    【可配全国联运】四地直飞毛里求斯7~9天自由行
                                    超值蜜月套餐/可双酒店搭配/尊享趣旅网专属接机柜台/赠接送机/电话卡（含少量上网流量/2人赠送1张）+当地旅游地图+旅游意外险
                                </h3>
								<span class="price">
                                    <b>￥4600</b>
                                    起
                                </span>
								<span class="price-original">¥13999</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVWHmTWAdoDMAAKj7vZ0fjQ91.jpeg" height="151" width="266">
								<span class="deal-mark dm4">
                                    <i></i>
                                    限时
                                    <span>3.9</span> 折
								<em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="【元旦假期】北京/上海/南京出发巴厘岛7天5晚或6天4晚自由行（免签，含元旦假期）">
                                    【元旦假期】北京/上海/南京出发巴厘岛7天5晚或6天4晚自由行（免签，含元旦假期）</h3>
								<span class="price">
                                    <b>￥2699</b>
                                    起
                                </span>
								<span class="price-original">¥6999</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVXEXHGAevctAAEO6_LEsNM58.jpeg" height="151" width="266">
								<span class="deal-mark dm4">
                                    <i></i>
                                    限时
                                    <span>5.0</span> 折
								<em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="【马尔代夫】一价全包岛屿，多岛可选，档次丰富">【马尔代夫】一价全包岛屿，多岛可选，档次丰富</h3>
								<span class="price">
                                    <b>￥6300</b>
                                    起
                                </span>
								<span class="price-original">¥12600</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgB6lSp_byAObvtAAlvi6vhNfs07.jpeg" height="151" width="266">
								<span class="deal-mark dm4">
                                    <i></i>
                                    限时
                                    <span>4.2</span> 折
								<em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="纵横机票！北京/广州直飞美国/加拿大/澳大利亚/夏威夷6-9天往返含税机票（超级预售；支持全国33大城市联运）">
                                    纵横机票！北京/广州直飞美国/加拿大/澳大利亚/夏威夷6-9天往返含税机票（超级预售；支持全国33大城市联运）</h3>
								<span class="price">
                                    <b>￥4999</b>
                                    起
                                </span>
								<span class="price-original">¥11999</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVYCbCSAKjH4AAxQbkv0Fgs90.jpeg" height="151" width="266">
								<span class="deal-mark dm4">
                                    <i></i>
                                    限时
                                    <span>8.3</span> 折
								<em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="【圣诞春节预售】优质商家◆香港/澳门直飞帕劳5天/6天含税机票">【圣诞春节预售】优质商家◆香港/澳门直飞帕劳5天/6天含税机票</h3>
								<span class="price">
                                    <b>￥2500</b>
                                    起
                                </span>
								<span class="price-original">¥3000</span>
							</div>
						</a>
					</li>
				</ul>
				<ul class="sales-cards clearfix hide" data-p="1">1</ul>
				<ul class="sales-cards clearfix hide" data-p="2">2</ul>
				<ul class="sales-cards clearfix hide" data-p="3">3</ul>
				<ul class="sales-cards clearfix hide" data-p="4">4</ul>
				<ul class="sales-cards clearfix hide" data-p="5">5</ul>
				<ul class="sales-cards clearfix hide" data-p="6">6</ul>
				<ul class="sales-cards clearfix hide" data-p="7">7</ul>
			</div>
		</div>
	</div>

	<style>
		.place-around .tab .on3 {
			background-color: #45bd9e;
			color: #FFFFFF;
		}
	</style>
	<div class="mod-place place-around" data-tab-wrapper="1" data-indexb="3">
		<div class="mod-hd">
			<h2 style="color: #45bd9e;">创意园</h2>
			<ul class="tab">
				<li>
					<a class="on3" href="javascript:void(0);" data-i="0">超甲级</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="1">甲级</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="2">乙级</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="3">丙级</a>
				</li>
			</ul>
		</div>
		<div class="mod-bd clearfix">
			<div class="nav-hot">
				<h3>热门商圈</h3>

				<div class="nav-hot-list">
					<ul>
						<li>
							<a target="_blank" href="#">人民南路</a>
						</li>
						<li>
							<a target="_blank" href="#">春熙路</a>
						</li>
						<li>
							<a target="_blank" href="#">磨子桥</a>
						</li>
						<li>
							<a target="_blank" href="#">红牌楼</a>
						</li>
						<li>
							<a target="_blank" href="#">航空路</a>
						</li>
						<li>
							<a target="_blank" href="#">桐梓林</a>
						</li>
						<li>
							<a target="_blank" href="#">高升桥</a>
						</li>
						<li>
							<a target="_blank" href="#">内双楠</a>
						</li>
						<li>
							<a target="_blank" href="#">武侯祠</a>
						</li>
					</ul>
				</div>
				<div class="bg" style="background:  url(../images/nav-hot-inset3.png) no-repeat;"></div>
			</div>
			<div class="mod-content">
				<ul class="sales-cards clearfix" data-p="0">
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVVUNF2AdToLAAFgbWhfzWc29.jpeg" height="151" width="266">
								<span class="deal-mark dm4"> <i></i>
                                    限时
                                    <span>4.5</span> 折 <em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）">北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）</h3>
								<span class="price"> <b>￥1699</b>
                                    起
                                </span>
								<span class="price-original">¥2999</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVVUNF2AdToLAAFgbWhfzWc29.jpeg" height="151" width="266">
								<span class="deal-mark dm4"> <i></i>
                                    限时
                                    <span>4.5</span> 折 <em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）">北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）</h3>
								<span class="price"> <b>￥1699</b>
                                    起
                                </span>
								<span class="price-original">¥2999</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVVUNF2AdToLAAFgbWhfzWc29.jpeg" height="151" width="266">
								<span class="deal-mark dm4"> <i></i>
                                    限时
                                    <span>4.5</span> 折 <em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）">北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）</h3>
								<span class="price"> <b>￥1699</b>
                                    起
                                </span>
								<span class="price-original">¥2999</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVVUNF2AdToLAAFgbWhfzWc29.jpeg" height="151" width="266">
								<span class="deal-mark dm4"> <i></i>
                                    限时
                                    <span>4.5</span> 折 <em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）">北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）</h3>
								<span class="price"> <b>￥1699</b>
                                    起
                                </span>
								<span class="price-original">¥2999</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVVUNF2AdToLAAFgbWhfzWc29.jpeg" height="151" width="266">
								<span class="deal-mark dm4"> <i></i>
                                    限时
                                    <span>4.5</span> 折 <em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）">北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）</h3>
								<span class="price"> <b>￥1699</b>
                                    起
                                </span>
								<span class="price-original">¥2999</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVVUNF2AdToLAAFgbWhfzWc29.jpeg" height="151" width="266">
								<span class="deal-mark dm4"> <i></i>
                                    限时
                                    <span>4.5</span> 折 <em></em>
								</span>
							</div>
							<div class="caption">
								<h3 title="北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）">北京往返福冈3-15天含税机票（赠首日WIFI，2人起订）</h3>
								<span class="price"> <b>￥1699</b>
                                    起
                                </span>
								<span class="price-original">¥2999</span>
							</div>
						</a>
					</li>
				</ul>
				<ul class="sales-cards clearfix hide" data-p="1">1</ul>
				<ul class="sales-cards clearfix hide" data-p="2">2</ul>
				<ul class="sales-cards clearfix hide" data-p="3">3</ul>
			</div>
		</div>
	</div>

	<style>
		.mod-cruiseship .tab .on2 {
			background-color: #fa5f6f;
			color: #FFFFFF;
		}
	</style>
	<div class="mod-cruiseship" data-tab-wrapper="1" data-indexb="2">
		<div class="mod-hd">
			<h2 style="color: #fa5f6f;">共享办公</h2>
			<ul class="tab">
				<li>
					<a class="on2" href="javascript:void(0);" data-i="0">雷格斯</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="1">创客联邦</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="2">CAP office</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="3">麦亚美商</a>
				</li>
				<li>
					<a href="javascript:void(0);" data-i="4">侠客岛</a>
				</li>
			</ul>

		</div>
		<div class="mod-bd clearfix">
			<div class="bn-side">
				<a href="#" target="_blank"><img src="../images/shop/wKgBpVX5TSuAUyOGAAKIHNeb4ho11.jpeg" height="241" width="154"></a>
			</div>
			<div class="mod-content">
				<ul class="sales-cards clearfix" data-p="0">
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVUeM6WAVp94AAGgXtqX60U92.jpeg" height="151" width="266"></div>
							<div class="caption">
								<h3 title="香港九龙东皇冠假日酒店 五星住宿 1间1晚 尊崇体验/便捷交通/高性价比 临近【西贡海鲜街 TVB电视城】">
                                    香港九龙东皇冠假日酒店 五星住宿 1间1晚
                                    尊崇体验/便捷交通/高性价比 临近【西贡海鲜街 TVB电视城】
                                </h3>
								<span class="price"> <b>￥680</b>
                                    起
                                </span>
								<span class="price-original">¥1280</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVYxqb2AIh5YAADw82P4VKI99.jpeg" height="151" width="266"></div>
							<div class="caption">
								<h3 title="日本东京蒲田XEBEC 精品酒店自助式公寓1晚住宿（2晚起订,必须2晚连住）">
                                    日本东京蒲田XEBEC
                                    精品酒店自助式公寓1晚住宿（2晚起订,必须2晚连住）
                                </h3>
								<span class="price"> <b>￥550</b>
                                    起
                                </span>
								<span class="price-original">¥800</span>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#" target="_blank">
							<div class="image">
								<img src="../images/shop/wKgBpVYplCKAJczlAAqOQdGfU2823.jpeg" height="151" width="266"></div>
							<div class="caption">
								<h3 title="【499超值预售】珠海海泉湾维景国际大酒店+珠海海泉湾星悦假期套票（海洋温泉or神秘岛乐园or梦幻剧场三选一）2张">
                                    【499超值预售】珠海海泉湾维景国际大酒店+珠海海泉湾星悦假期套票（海洋温泉or神秘岛乐园or梦幻剧场三选一）2张</h3>
								<span class="price">
                                    <b>￥499</b>
                                    起
                                </span>
								<span class="price-original">¥2000</span>
							</div>
						</a>
					</li>
				</ul>
				<ul class="sales-cards clearfix hide" data-p="1">1</ul>
				<ul class="sales-cards clearfix hide" data-p="2">2</ul>
				<ul class="sales-cards clearfix hide" data-p="3">3</ul>
				<ul class="sales-cards clearfix hide" data-p="4">4</ul>
			</div>
		</div>
	</div>

	<div class="row-banner">
		<a href="#" target="_blank"><img src="http://css.mafengwo.net/images/sales/union-banner-2.png"></a>
	</div>
</div>
<link rel="stylesheet" href="../css/home.css"/>
<script type="text/javascript" src="../js/bower/home_mid.js"></script>
<script type="text/javascript">
	//设置slider的大小
	var $topPicContainer = $('#_j_top_pic_container'),
		topPicSlideCnt = $topPicContainer.find('.show-image');

	function respondTopPicSize(ev) {
		var clientWidth = $(window).width(),
			picHeight = Math.round(clientWidth / 3);
		$topPicContainer.height(picHeight);
		topPicSlideCnt.find('img').each(function(idx, ele) {
			var $img = $(ele),
				imgHeight = parseInt($img.css('height'), 10);
			if (imgHeight > picHeight) {
				$img.css('marginTop', -Math.round((imgHeight - picHeight) / 2));
			}
		});
	}
	$(window).on('resize', respondTopPicSize).trigger('resize');
	$(function() {
		$('[data-tab-wrapper]').find('[data-i]').on('mouseenter', function() {
			var self = $(this),
				index = self.data('i'),
				wrapper = self.closest('[data-tab-wrapper]'),
				indexB = wrapper.data('indexb') || "";
			wrapper.find('[data-i]').removeClass('on' + indexB).eq(index).addClass('on' + indexB).end().end()
				.find('[data-p]').hide().eq(index).show();
		});
		$('[data-change="btn"]').on('click', function() {
			var self = $(this),
				$mod = self.closest('[data-change="mod"]'),
				step = 1 * $mod.find('[data-change-step]').data('changeStep'),
				len = $mod.find('[data-change="list"]').length,
				colNum = 4,
				staticNum = $mod.find('[data-change-step] li').not('[data-change]').length;
			var $item = $mod.find('[data-change="list"]').hide();
			for (var i = 0; i < colNum - staticNum; i++) {
				$item = $item.eq((++step) % len).show().end()
			}
			$item.closest('ul').data('changeStep', step);
		});
	});
</script>