<!--公共的样式与JS-->
<!--这里方便查看才加上的。开发时可以删除这部分，放在公共模块-->
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/module/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/module/reset.css"/>
<link rel="stylesheet" type="text/css" href="../css/module/header.css"/>
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../js/layer/layer.js"></script>
<script type="text/javascript" src="../js/haolou.itattoo.js"></script>
<script type="text/javascript" src="../js/M.protrotype.js"></script>
<!--公共的样式与JS-->

<link href="../css/module/footer.css" rel="stylesheet" type="text/css">
<div id="footer">
	<div class="ft-content">
		<div class="ft-info clearfix">
			<dl class="ft-info-col ft-info-intro">
				<dt>中国领先的自由行服务平台</dt>
				<dd>覆盖全球200多个国家和地区</dd>
				<dd><strong>100,000,000</strong> 位旅行者</dd>
				<dd><strong>920,000</strong> 家国际酒店</dd>
				<dd><strong>21,000,000</strong> 条真实点评</dd>
				<dd><strong>382,000,000</strong> 次攻略下载</dd>
			</dl>
			<dl class="ft-info-col ft-info-about">
				<dt>关于我们</dt>
				<dd><a href="#" rel="nofollow">关于蚂蜂窝</a></dd>
				<dd><a href="#" rel="nofollow">招商与合作</a></dd>
				<dd><a href="#" rel="nofollow">网络信息侵权通知指引</a></dd>
				<dd><a href="#" rel="nofollow">隐私政策</a></dd>
				<dd><a href="#" rel="nofollow">服务协议</a></dd>
				<dd><a class="joinus highlight" title="好楼团队招聘" target="_blank" href="#" rel="nofollow">加入好楼</a></dd>
			</dl>
			<dl class="ft-info-col ft-info-service">
				<dt>楼盘服务</dt>
				<dd>
					<ul class="clearfix">
						<li><a target="_blank" href="#">XXXX</a></li>
						<li><a target="_blank" href="#">XXXX</a></li>
						<li><a target="_blank" href="#">XXXX</a></li>
						<li><a target="_blank" href="#">XXXX</a></li>
						<li><a target="_blank" href="#">XXXX</a></li>
						<li><a target="_blank" href="#">XXXX</a></li>
						<li><a target="_blank" href="#">XXXX</a></li>
						<li><a target="_blank" href="#">XXXX</a></li>
						<li><a target="_blank" href="#">XXXX</a></li>
						<li><a target="_blank" href="#">XXXX</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="ft-info-col ft-info-qrcode">
				<dd>
					<span class="ft-qrcode-tejia"></span>
					<p>好楼</p>
				</dd>
				<dd>
					<span class="ft-qrcode-weixin"></span>
					<p>好楼官方微信</p>
				</dd>
			</dl>
			<dl class="ft-info-social">
				<dt>关注我们</dt>
				<dd>
					<a class="ft-social-weibo" target="_blank" href="#" rel="nofollow"><i
                            class="fa fa-weibo"></i></a>
					<a class="ft-social-qqt" target="_blank" href="#" rel="nofollow"><i
                            class="fa fa-tencent-weibo"></i></a>
					<a class="ft-social-qzone" target="_blank" href="#" rel="nofollow"><i
                            class="fa fa-weixin"></i></a>
				</dd>
			</dl>
		</div>

		<div class="ft-links">
			<a href="#" target="_blank">成都XXX牛逼商业地产</a>
			<a href="#" target="_blank">更多友情链接&gt;&gt;</a>
		</div>

		<div class="ft-copyright">
			<div class="ft-safety">
				<a class="s-a" target="_blank" href="#" id="___szfw_logo___"></a>
				<a class="s-b" target="_blank" href="#" rel="nofollow"></a>
			</div>
			<a href="#"><i class="ft-mfw-logo"></i></a>

			<p>© 2015 Mafengwo.cn <a href="#" target="_blank" rel="nofollow">川ICP备11015476号</a> 成都市xxxxx</p>

			<p><span class="highlight">好楼 </span> 333 222 1234&nbsp;&nbsp;&nbsp;工作时间 10:00-18:30&nbsp;&nbsp;&nbsp;</p>
		</div>

	</div>
</div>