@charset "UTF-8";
html {
    font-family: Arial, 'Microsoft Yahei';
    font-size: 12px;
    color: #666;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-size: 12px;
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
    _font-family: Tahoma, Arial, Helvetica, STHeiti;
    color: #666
}

html.hasFontSmoothing-false body {
    font-family: Arial, SimSun, "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti
}

input, select, textarea, button {
    box-sizing: content-box;
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti;
    _font-family: Tahoma, Arial, Helvetica, STHeiti
}

body, p, div {
    margin: 0;
    padding: 0;
    word-break: break-all;
    word-wrap: break-word
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    font-size: 100%
}

ul, ol, li, dl, dd, dt {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    color: #ff9d00;
    text-decoration: none;
    cursor: pointer
}

a:hover {
    color: #ff8a00;
    text-decoration: underline
}

td {
    font-size: 12px;
    color: #666
}

img {
    border: 0;
    vertical-align: middle
}

input {
    outline: 0
}

ul, li, ol {
    list-style: none;
    padding: 0;
    margin: 0
}

h1, h2, h3, h4, h5, h6, p, dl, dt, dd {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #ff9d00;
    cursor: pointer
}

a:hover {
    outline: 0;
    text-decoration: underline;
    color: #ff8a00
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}


svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

.highlight {
    color: #ff9d00 !important
}

.hide {
    display: none
}

.line20 {
    line-height: 20px
}

.tdcenter {
    text-align: center
}

.hide {
    display: none
}

.clearbg {
    background: 0
}

.clear {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden
}

.clearfix:after, .wrapper:after, .article:after {
    content: '\20';
    clear: both;
    display: block
}

.clearfix:after {
    content: '';
    clear: both;
    height: 0;
    display: block;
    overflow: hidden
}

.clearfix, .wrapper, .article {
    *zoom: 1
}

.simsun {
    font-family: Arial, "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun
}

.flt1 {
    float: left
}

.flt2 {
    float: right
}

.flt3 {
    float: none
}

.clr1 {
    clear: left;
    font-size: 0
}

.clr2 {
    clear: right;
    font-size: 0
}

.clr3 {
    clear: both;
    font-size: 0
}

.red {
    color: #f00 !important
}

.blue {
    color: #09f
}

.gray {
    color: #999
}

.f12 {
    font-size: 12px
}

.f14 {
    font-size: 14px
}

.f16 {
    font-size: 16px
}

.f14b {
    font-size: 14px;
    font-weight: bold
}

.f16b {
    font-size: 16px;
    font-weight: bold
}

.m_t_2 {
    margin-top: 2px
}

.m_t_3 {
    margin-top: 3px
}

.m_t_5 {
    margin-top: 5px
}

.m_t_7 {
    margin-top: 7px
}

.m_b_7 {
    margin-bottom: 7px
}

.m_t_10 {
    margin-top: 10px
}

.m_t_20 {
    margin-top: 20px
}

.m_l_2 {
    margin-left: 2px
}

.m_l_3 {
    margin-left: 3px
}

.m_l_5 {
    margin-left: 5px
}

.m_l_7 {
    margin-left: 7px
}

.m_l_10 {
    margin-left: 10px
}

.m_l_20 {
    margin-left: 20px
}
